- content_for :header_banner do
  .header-banner.keplr-wallet#secret-network-mount-doom
    .nk-ovm.shape-g
%main.nk-pages.h-100
  %section.section.bg-light.pt-4.h-100
    .container-fluid
      .nk-block.nk-block-blog
        .row
          .col-lg-4.col-xl-3
            .sidebar.mr-lg-4.mb-4
              = render 'features_header', blockchain: :secret_network, feature: :mount_doom, show_environment_switch: false
              %hr
              %ul.nav.tab-nav.tab-nav-btn
                %li
                  %a.active{ 'data-toggle' => 'tab', :href => '#tab-2-1' } Query
                %li
                  %a{ 'data-toggle' => 'tab', :href => '#tab-2-2' } Set viewing key
              .tab-content
                .tab-pane.fade.active.show#tab-2-1
                  %form{ name: 'mountDoomQueryForm' }
                    %ul.d-flex.flex-wrap.gutter-30px
                      %li.mb-3
                        .field-wrap
                          %input.input-radio#nft{ name: 'tokenType', type: 'radio', value: 'nft', checked: true }
                          %label{ for: 'nft' } NFT
                      %li.mb-3
                        .field-wrap
                          %input.input-radio#snip-20{ name: 'tokenType', type: 'radio', value: 'snip-20' }
                          %label{ for: 'snip-20' } SNIP-20
                    .field-item
                      %label.field-label Token
                      .field-wrap
                        = select_tag 'fungibleTokenAddress', options_from_collection_for_select(Cryptocurrency.where(official: true, blockchain: Blockchain.find_by(identifier: 'secret_network')).joins(:smart_contract).where.not(coin_gecko_id: nil).order('LOWER(symbol)'), 'address', 'label_formatted'), class: 'input-bordered d-none'
                        = select_tag 'nonFungibleTokenAddress', options_from_collection_for_select(Cryptocurrency.where(nft: true, blockchain: Blockchain.find_by(identifier: 'secret_network')).joins(:smart_contract).order('LOWER(symbol)'), 'address', 'label_formatted'), class: 'input-bordered'
                    .field-item.d-none
                      %label.field-label Token Address
                      .field-wrap
                        %input.input-bordered.d-none{ name: 'otherTokenAddress', autocomplete: 'off' }
                    %button.btn.btn-grad{ type: 'submit' }
                      .d-none.loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      .ready
                        Submit
                .tab-pane.fade#tab-2-2
                  %form{ name: 'mountDoomSetViewingKeyForm' }
                    .field-item
                      %label.field-label Token Address
                      .field-wrap
                        %input.input-bordered{ name: 'tokenAddress', required: true, autocomplete: 'off' }
                    .field-item
                      %label.field-label Contract hash
                      .field-wrap
                        %input.input-bordered{ name: 'contractHash', autocomplete: 'off', required: true }
                    %button.btn.btn-grad{ type: 'submit' }
                      .d-none.loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      .ready
                        Submit
          .col-lg-8.col-xl-9
            .collapse.mb-4#exampleCollapseExample
              .card.card-default
                .card-block
                  = cl_image_tag 'secret_network/mount_doom/mt_doom_biwkdj', width: 230, crop: :scale, dpr: 2, fetch_format: :auto
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:mount_doom][:contracts][:production], staging_contract: nil
                  %h6 Requirements
                  %p
                    1.
                    = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                    %br
                    2. SCRT for gas, if setting a viewing key

                  %h6 What is it?
                  %p This is a burn address smart contract on the Secret network. Anyone can send any Secret network token here and set a viewing key for that token, for this smart contract address. It has no admin functionality so it is completely decentralized.

                  %h6 Why it was created
                  %p We wanted to send some BUTT to a burn address and realised that there wasn't anywhere to send it to, and even if we did, nobody could see it.

                  %h6 How to use
                  %p
                    1. Send tokens to contract.
                    %br
                    2. Set viewing key for token if required.
                    %br
                    3. Query token.

                  %h6 References
                  %p
                    1.
                    = link_to 'github - mount-doom', 'https://github.com/btn-group/mount-doom', target: '_blank', rel: 'noopener'
                    %br
                    2.
                    = link_to 'github - btn.group', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
            .d-none#transactions-container
              .card
                %h6.mt-4
                  Balance:
                  %span#balance
                .table-responsive
                  %table.table.table-striped.table-bordered
                    %thead
                      %tr
                        %th{ style: 'min-width: 135px !important;' }
                        %th Description
                        %th Amount
                    %tbody#transactions-table-body
            .row#nfts-container
