.header-banner.bg-theme-grad-s2.keplr-wallet#secret-network-password-manager
  .nk-banner
    .banner.banner-page
      .mt-3.mb-5.w-100
        .container
          .row.mb-3
            .col-12
              .alert.alert-warning-alt
                %p
                  * Warning! What goes on the blockchain, stays on the blockchain... forever.
                  %br
                  * We recommend using this for apps where you have 2FA enabled.
                  %br
                  * If you want a place to store your crypto wallet keys, please use our
                  = link_to 'Block locker', secret_network_block_locker_path
                  instead.
          .row
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:password_manager][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:password_manager][:contracts][:production], staging_contract: nil
                  %button.btn.btn-sm.btn-theme-dark.mt-1{ 'aria-controls' => 'exampleCollapseExample', 'aria-expanded' => 'true', 'data-toggle' => 'collapse', :href => '#exampleCollapseExample' }
                    Instructions / Requirements
                  .collapse.mt-2#exampleCollapseExample
                    .card.card-default.bg-theme-light
                      .card-block
                        %h6 Requirements
                        %p
                          1.
                          = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                          %br
                          2. SCRT for gas
                          %br
                          3. BUTT to create a new record.
                        %h6 Why it was created
                        %p We wanted to create a decentralized password manager. There's too much to remember these days, and too much centralization.
                        %h6 Design choices
                        %p You can set a viewing key to get hints for your records. If you need to see the full details, you can send a request to view the details.
                        %h6 References
                        %p
                          1.
                          = link_to 'Password manager | github', 'https://github.com/btn-group/password-manager', target: '_blank', rel: 'noopener'
                          %br
                          2.
                          = link_to 'btn.group | github', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
                          %br
                          3.
                          = link_to 'BUTT lode | github', 'https://github.com/btn-group/butt-lode', target: '_blank', rel: 'noopener'
                  %hr
                  %ul.nav.tab-nav.tab-nav-btn
                    %li
                      %a.active{ 'data-toggle' => 'tab', :href => '#tab-2-1' } Index
                    %li
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-2' } New
                    %li
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-1-2' } Set viewing key
                    %li.d-none
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-3' } Edit
                    %li.d-none
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-4' } Show
                  .tab-content
                    .tab-pane.fade.active.show#tab-2-1
                      %form{ name: 'passwordManagerSearchForm' }
                        .form-group
                          %label.form-label Wallet address
                          %input.form-control.text-lowercase{ name: 'address', required: true }
                        .row
                          .col-lg-6
                            .form-group
                              %label.form-label Viewing key
                              .input-group
                                %input.form-control.border-right-0{ type: 'password', required: true, spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', name: 'viewingKey' }
                                .input-group-append
                                  %span.input-group-text.bg-white.border-left-0
                                    %i.fa.fa-eye
                        %button.btn.btn-primary.btn-md.mt-2{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            Search
                      .table-responsive.d-none
                        %hr{ style: 'border-style: dashed;' }
                        %table.table.table-striped#authentications-table
                    .tab-pane.fade#tab-2-2
                      %form{ name: 'passwordManagerCreateForm' }
                        .form-group
                          %label.control-label Label
                          %input.form-control.w-100{ name: 'label', required: true }
                        .form-group
                          %label.control-label Username
                          %input.form-control.w-100{ name: 'username', required: true }
                        .form-group
                          %label.control-label Password
                          %input.form-control.w-100{ name: 'password', required: true }
                        .form-group
                          %label.control-label Notes
                          %textarea.form-control.w-100{ name: 'notes', rows: '5' }
                        %button.btn.btn-primary.btn-md.mt-3{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            Create
                    .tab-pane.fade.show#tab-2-1-2
                      .row
                        .col-lg-6
                          %form{ name: 'setViewingKeyForm' }
                            .form-group
                              %label.form-label Viewing key
                              .input-group
                                %input.form-control.border-right-0{ type: 'password', required: true, spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', name: 'viewingKey' }
                                .input-group-append
                                  %span.input-group-text.bg-white.border-left-0
                                    %i.fa.fa-eye
                            %button.btn.btn-primary.btn-md.mt-2{ type: 'submit' }
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready
                                Set
                    .tab-pane.fade#tab-2-3
                      .row
                        .col-md-6
                          %h3.title.title-md Edit Authentication
                        .col-md-6
                          .text-md-right.mb-2
                            %button.btn.btn-primary.btn-auto.btn-md
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready
                                %em.fa-eye.fa
                      %form{ name: 'passwordManagerUpdateForm' }
                        .form-group
                          %label.control-label ID
                          %input.form-control.w-100{ name: 'id', disabled: true }
                        .form-group
                          %label.control-label Label
                          %input.form-control.w-100{ name: 'label' }
                        .form-group
                          %label.control-label Username
                          %input.form-control.w-100#update-username{ name: 'username' }
                        .form-group
                          %label.control-label Password
                          %input.form-control.w-100#update-password{ name: 'password' }
                        .form-group
                          %label.control-label Notes
                          %textarea.form-control.w-100#update-notes{ name: 'notes', rows: '5' }
                        %button.btn.btn-primary.btn-md.mt-3#update-button{ type: 'submit' }
                          .d-none#update-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #update-button-ready
                            Update
                    .tab-pane.fade#tab-2-4
                      .row
                        .col-md-6
                          %h3.title.title-md#table-title
                        .col-md-6
                          .text-md-right.mb-2
                            %button.btn.btn-primary.btn-auto.btn-md
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready
                                %em.fa-eye.fa
                            %button.btn.btn-primary.btn-auto.btn-md
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready
                                %em.fa-edit.fa
                      %table.table.table-bordered
                        %tbody
                          %tr
                            %td.table-head id
                            %td.table-des#id-table-data
                          %tr
                            %td.table-head Label
                            %td.table-des#label-table-data
                          %tr
                            %td.table-head Username
                            %td.table-des#username-table-data
                          %tr
                            %td.table-head Password
                            %td.table-des#password-table-data
                          %tr
                            %td.table-head Notes
                            %td.table-des#notes-table-data
  .nk-ovm.shape-q
