.header-banner.bg-theme-grad-s2.keplr-wallet#secret-network-password-manager
  .nk-banner
    .banner.banner-page
      .mt-3.mb-5.w-100
        .container
          .row.mb-3
            .col-12
              .alert.alert-warning-alt
                %p
                  * Warning! What goes on the blockchain, stays on the blockchain... forever.
                  %br
                  * We recommend using this for apps where you have 2FA enabled.
                  %br
                  * If you want a place to store your crypto wallet keys, please use our
                  = link_to 'Block locker', secret_network_block_locker_path
                  instead.
          .row
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:password_manager][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:password_manager][:contracts][:production], staging_contract: nil
                  %button.btn.btn-sm.btn-theme-dark.mt-1{ 'aria-controls' => 'exampleCollapseExample', 'aria-expanded' => 'true', 'data-toggle' => 'collapse', :href => '#exampleCollapseExample' }
                    About
                  .collapse.mt-2#exampleCollapseExample
                    .card.card-default.bg-theme-light
                      .card-block
                        %h6 Requirements
                        %ol
                          %li
                            1.
                            = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                          %li 2. SCRT for gas.
                          %li 3. BUTT to create a new record.
                        %h6.mt-2 Instructions
                        %ol
                          %li 1. Create a hints password for your wallet for the password manager.
                          %li 2. Create a new authentication with the appropriate label, username, password and notes.
                          %li 3. Query your authentications with the wallet and hints password combo.
                          %li 4. If the hint isn't enough, view the authentication and then reveal the full details.
                          %li 5. Edit the authentication if required.
                        %h6.mt-2 Why it was created
                        With a centralized password manager:
                        %ol
                          %li 1. Staff members and hackers can access the details of the apps you use and the passwords associated with them.
                          %li 2. The access to your info can be blocked of deleted.
                          %li 3. Often there are recurring fees
                        Our password manager solves these issues by being decentralized and built on the blockchain.
                        %h6.mt-2 Design choices
                        By using a hints password, retrieving your authentications is free. However, we don't want people to see all the details with just this info, so it only retrieves the first character of the usernames, passwords and hints. Most times, people only need a hint to remember their username and password. If that's not enough, you can always do a signed transaction to get the full details. This signed transaction setup will mean that your details are protected by the security of your wallet keys.
                        %h6.mt-2 References
                        %ol
                          %li
                            1.
                            = link_to 'Password manager | github', 'https://github.com/btn-group/password-manager', target: '_blank', rel: 'noopener'
                          %li
                            2.
                            = link_to 'btn.group | github', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
                          %li
                            3.
                            = link_to 'BUTT lode | github', 'https://github.com/btn-group/butt-lode', target: '_blank', rel: 'noopener'
                  %hr
                  %ul.nav.tab-nav.tab-nav-btn
                    %li
                      %a.active{ 'data-toggle' => 'tab', :href => '#tab-2-1' } Index
                    %li
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-2' } New
                    %li.d-none
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-1-2' } Set hints password
                    %li.d-none
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-3' } Edit
                    %li.d-none
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-4' } Show
                  .tab-content
                    .tab-pane.fade.active.show#tab-2-1
                      %form{ name: 'passwordManagerSearchForm' }
                        .form-group
                          %label.control-label Search by
                          .btn-group.btn-group-toggle.d-block{ 'data-toggle' => 'buttons' }
                            %label.btn.btn-light.btn-md
                              %input{ name: 'searchType', type: 'radio', value: 'address' } Address
                            %label.btn.btn-md.btn-light
                              %input{ name: 'searchType', type: 'radio', value: 'alias', checked: true } Alias
                        .row
                          .col-lg-7
                            .form-group
                              %input.form-control.text-lowercase{ name: 'searchValue', required: true }
                        .row
                          .col-lg-7
                            .form-group
                              %label.form-label
                                Hints password
                                %button.btn.btn-light.btn-icon.btn-md.ml-2.mb-1.border.btn-auto#set-key-button{ type: 'button' }
                                  %em.fa-pen.fa
                              .input-group
                                %input.form-control.border-right-0{ type: 'password', required: true, spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', name: 'viewingKey' }
                                .input-group-append
                                  %span.input-group-text.bg-white.border-left-0
                                    %i.fa.fa-eye
                        %button.btn.btn-primary.btn-md.mt-2{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready Submit
                      .table-responsive.d-none
                        %hr{ style: 'border-style: dashed;' }
                        %table.table.table-striped#authentications-table
                    .tab-pane.fade#tab-2-2
                      %h3.title.title-md New
                      %form{ name: 'passwordManagerCreateForm' }
                        .form-group
                          %label.control-label Label
                          %input.form-control.w-100{ name: 'label', required: true }
                        .form-group
                          %label.control-label Username
                          %input.form-control.w-100{ name: 'username', required: true }
                        .form-group
                          %label.control-label Password
                          %input.form-control.w-100{ name: 'password', required: true }
                        .form-group
                          %label.control-label Notes
                          %textarea.form-control.w-100{ name: 'notes', rows: '5' }
                        %button.btn.btn-primary.btn-md.mt-3{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            Create
                      %hr
                      * Cost to create = 1 BUTT + ~gas(SCRT)
                      %br
                      * You can get BUTT from
                      = link_to 'Secret Swap', 'https://app.secretswap.io/swap'
                    .tab-pane.fade.show#tab-2-1-2
                      .row
                        .col-lg-6
                          %h3.title.title-md Hints password
                          %form{ name: 'setViewingKeyForm' }
                            .form-group
                              .input-group
                                %input.form-control.border-right-0{ type: 'password', required: true, spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', name: 'viewingKey' }
                                .input-group-append
                                  %span.input-group-text.bg-white.border-left-0
                                    %i.fa.fa-eye
                            %button.btn.btn-primary.btn-md.mt-2{ type: 'submit' }
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready
                                Save
                    .tab-pane.fade#tab-2-3
                      .row
                        .col-md-6
                          %h3.title.title-md Edit
                        .col-md-6
                          .text-md-right.mb-2
                            %button.btn.btn-primary.btn-auto.btn-md.reveal-button
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready Reveal
                      %form{ name: 'passwordManagerUpdateForm' }
                        %input.d-none{ name: 'id' }
                        .form-group
                          %label.control-label #
                          %input.form-control.w-100{ name: 'position', disabled: true }
                        .form-group
                          %label.control-label Label
                          %input.form-control.w-100{ name: 'label' }
                        .form-group
                          %label.control-label Username
                          %input.form-control.w-100{ name: 'username' }
                        .form-group
                          %label.control-label Password
                          %input.form-control.w-100{ name: 'password' }
                        .form-group
                          %label.control-label Notes
                          %textarea.form-control.w-100{ name: 'notes', rows: '5' }
                        %button.btn.btn-primary.btn-md.mt-3{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            Update
                    .tab-pane.fade#tab-2-4
                      .row
                        .col-md-6
                          %h3.title.title-md#table-title
                        .col-md-6
                          .text-md-right.mb-2
                            %button.btn.btn-primary.btn-auto.btn-md.reveal-button
                              .d-none.loading
                                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                                %em Loading...
                              .ready Reveal
                            %button.btn.btn-primary.btn-auto.btn-md#edit-button Edit
                      %table.table.table-bordered
                        %tbody
                          %tr
                            %td.table-head #
                            %td.table-des#position-table-data
                          %tr
                            %td.table-head Label
                            %td.table-des#label-table-data
                          %tr
                            %td.table-head Username
                            %td.table-des#username-table-data
                          %tr
                            %td.table-head Password
                            %td.table-des#password-table-data
                          %tr
                            %td.table-head Notes
                            %td.table-des#notes-table-data
  .nk-ovm.shape-q
