.header-banner.bg-theme-grad-s2.keplr-wallet#secret-network-password-manager
  .nk-banner
    .banner.banner-page
      .mt-3.mb-5.w-100
        .container
          .row
            .col-12
              .card
                .card-body
                  %h3 Password manager
                  -# %h3= features[:secret_network][:features][:butt_lode][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  -# = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:password_manager][:contracts][:production], staging_contract: nil
                  %button.btn.btn-sm.btn-theme-dark.mt-1{ 'aria-controls' => 'exampleCollapseExample', 'aria-expanded' => 'true', 'data-toggle' => 'collapse', :href => '#exampleCollapseExample' }
                    Instructions / Requirements
                  .collapse.mt-2#exampleCollapseExample
                    .card.card-default.bg-theme-light
                      .card-block
                        %h6 Requirements
                        %p
                          1.
                          = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                          %br
                          2. SCRT for gas
                          %br
                          3. BUTT to create alias.
                        %h6 Why it was created
                        %p We wanted to create a decentralized password manager. There's too much to remember these days, and too much centralization.
                        %h6 Design choices
                        %p
                          1. User
                        %h6 References
                        %p
                          1.
                          = link_to 'github - BUTT lode', 'https://github.com/btn-group/butt-lode', target: '_blank', rel: 'noopener'
                          %br
                          2.
                          = link_to 'github - btn.group', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
                  %hr
                  %ul.nav.tab-nav.tab-nav-btn
                    %li
                      %a.active{ 'data-toggle' => 'tab', :href => '#tab-2-1' } Config
                    %li
                      %a{ 'data-toggle' => 'tab', :href => '#tab-2-2' } Create
                  .tab-content
                    .tab-pane.fade.active.show#tab-2-1
                      .table-responsive
                        %table.table.table-striped.table-bordered
                          %thead
                            %tr
                              %th{ style: 'min-width: 150px !important;' } Label
                              %th Username
                              %th Password
                              %th
                          %tbody#passwords-table-body
                            %tr
                              %th Google
                              %th stevenchang5000@protonmail.com
                              %th EpShteinnnnn@2021
                              %th edit/delete
                    .tab-pane.fade#tab-2-2
                      %b
                        %i * This can only be called by the admin
                      %form{ name: 'buttLodeSendForm' }
                        .form-group
                          %label.control-label Receivable address
                          %input.form-control.w-100{ name: 'receivableAddress', disabled: true }
                        .form-group
                          %label.control-label{ for: 'buttcoin-amount' } Amount
                          %input.form-control.w-100#buttcoin-amount{ name: 'amount' }
                        %button.btn.btn-primary.btn-md.mt-3#butt-lode-send-button{ type: 'submit' }
                          .d-none#butt-lode-send-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #butt-lode-send-button-ready
                            Submit
