- content_for :header_banner do
  .header-banner.keplr-wallet#secret-network-pools
    .nk-ovm.shape-q
%main.nk-pages
  %section.bg-light.pt-4
    .container-fluid
      .nk-block.nk-block-blog
        .row
          .col-lg-4.col-xl-3
            .sidebar.mr-lg-4.mb-4
              = render 'features_header', blockchain: :secret_network, feature: :pools, show_environment_switch: false
              %hr
          .col-lg-8.col-xl-9
            .alert.alert-warning
              %h4.title.title-sm.mb-0
                %span.fa.fa-exclamation-triangle
                Warning
              %p
                These pools are not private. This is by design. Click
                = link_to 'here', secret_network_why_some_of_our_contracts_are_not_private_path
                to find out why.
            .collapse.mb-4#exampleCollapseExample
              .card.card-default
                .card-block
                  = cl_image_tag 'secret_network/yield_optimizer/3143e566-c3f1-4252-80f2-6bbbc5242368_pfkrls', width: 230, crop: :scale, dpr: 2, fetch_format: :auto
                  %h6.mt-4 What is it?
                  %p
                    This is a collection of profit distributor, farm and yield optimizer pools.
                    %br
                    * Please use the gas recommended for deposits and withdrawals.
                    %br
                    * Rewards are claimed every time you deposit or withdraw.
                    %br
                    * 5% of yield from yield optimizers sent to profit distributor.
                  %h6 Requirements
                  %p
                    1.
                    = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                    %br
                    2. SCRT for gas
                  %h6 References
                  %p
                    1.
                    = link_to 'github - btn.group', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
            .row.mb-5
              .col-12#pools
                .card.mb-3{ 'data-pool-address': 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz' }
                  .row
                    .col-12
                      %h5.title.title-sm.mb-1
                        Profit distributor
                        %a.float-right{ href: '#' }
                          %span.fa.fa-sync
                    .col-md-6.text-regular-sm
                      %span.mr-1 Deposit BUTT
                      %span
                        %img.logo-avatar{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636595738/logos/btn_purple_background_sv3dst.png' }
                      %br
                      %span.mr-1 Earn SEFI
                      %span
                        %img.logo-avatar{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636595507/logos/sefi_mqwcdx.svg' }
                    .col-md-6.text-regular-sm
                      TVL:
                      %span.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-total-shares Loading...
                      %br
                      Claimable SEFI:
                      = render 'keplr_connect_button', extra_button_classes: 'btn-xxs mb-1 border btn-round btn-auto', extra_logo_classes: 'd-none'
                      %button.btn.btn-light.btn-xxs.ml-2.mb-1.border.claim-button.d-none{ type: 'button' }
                        .loading
                          %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                          %em Loading...
                        .d-none.ready
                  .row.deposit-withdraw-forms-container.d-none
                    .col-12
                      %hr
                    .col-md-6.text-regular-sm.mb-3.mb-lg-0
                      = render 'secret_network/balance', selector_prefix: 'secret1yxcexylwyxlq58umhgsjgstgcg2a0ytfy4d9lt', show_keplr_connect_button: false
                      %form{ name: 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqverszDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                          .input-group-append
                            %span.input-group-text BUTT
                        %button.btn.btn-primary.btn-rg{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready Deposit
                    .col-md-6.text-regular-sm
                      = render 'secret_network/balance', selector_prefix: 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-user-shares', show_keplr_connect_button: false
                      %form{ name: 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqverszWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                          .input-group-append
                            %span.input-group-text BUTT
                        %button.btn.btn-primary.btn-rg{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready Withdraw
                .card.mb-3{ 'data-pool-address': 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku' }
                  .row
                    .col-12
                      %h5.title.title-sm.mb-1
                        Farm
                        %a.float-right{ href: '#' }
                          %span.fa.fa-sync
                    .col-md-6.text-regular-sm
                      %span.mr-1
                        Deposit
                        = link_to 'BUTT-sWBTC', 'https://app.secretswap.net/pool#Provide', target: '_blank', rel: 'noopener'
                      %span
                        %img.logo-avatar{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636595738/logos/btn_purple_background_sv3dst.png' }
                      %span
                        %img.logo-avatar{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636595984/logos/wbtc_ethereum_iaxwlw.svg' }
                      %br
                      %span.mr-1 Earn BUTT
                      %span
                        %img.logo-avatar{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636595738/logos/btn_purple_background_sv3dst.png' }
                    .col-md-6.text-regular-sm
                      TVL:
                      %span.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-total-shares Loading...
                      %br
                      APR: #{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku').id).apr}%
                      %br
                      Claimable BUTT:
                      = render 'keplr_connect_button', extra_button_classes: 'btn-xxs mb-1 border btn-round btn-auto', extra_logo_classes: 'd-none'
                      %button.btn.btn-light.btn-xxs.ml-2.mb-1.border.claim-button.d-none{ type: 'button' }
                        .loading
                          %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                          %em Loading...
                        .d-none.ready
                  .row.deposit-withdraw-forms-container.d-none
                    .col-12
                      %hr
                    .col-md-6.text-regular-sm.mb-3.mb-lg-0
                      = render 'secret_network/balance', selector_prefix: 'secret19kh9wmzulxv8lw0e0fyxjxmwtmln2fqpnetucl', show_keplr_connect_button: false
                      %form{ name: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fkuDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                          .input-group-append
                            %span.input-group-text BUTT-sWBTC
                        %button.btn.btn-primary.btn-rg{ type: 'submit' }
                          .loading.d-none
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready Deposit
                    .col-md-6.text-regular-sm
                      = render 'secret_network/balance', selector_prefix: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-user-shares', show_keplr_connect_button: false
                      %form{ name: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fkuWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                          .input-group-append
                            %span.input-group-text BUTT-sWBTC
                        %button.btn.btn-primary.btn-rg{ type: 'submit' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready Withdraw
                - @yield_optimizers.each do |yield_optimizer|
                  .card.mb-3{ 'data-pool-address': yield_optimizer.address }
                    .row
                      .col-12
                        %h5.title.title-sm.mb-1
                          Yield optimizer
                          %a.float-right{ href: '#' }
                            %span.fa.fa-sync
                      .col-md-6.text-regular-sm
                        %div Deposit & Earn
                        %span.mr-1= yield_optimizer.deposit_label
                        - yield_optimizer.root_pool.cryptocurrency_pools.deposit.order(:cryptocurrency_id).each do |cp|
                          %span
                            = cl_image_tag cp.cryptocurrency.attachments.first.cloudinary_public_id, class: 'logo-avatar'
                        %br
                        %span via
                        = link_to yield_optimizer.pool.protocol.name, yield_optimizer.pool.protocol.url, rel: 'noopener', target: '_blank'
                      .col-md-6.text-regular-sm
                        TVL:
                        %span{ class: "#{yield_optimizer.address}-total-shares" } Loading...
                        %br
                        APY: #{yield_optimizer.apy}%
                        %br
                        Rewards to process:
                        %span{ class: "#{yield_optimizer.address}-rewards-to-process" } Loading...
                        %span SEFI
                    .row.deposit-withdraw-forms-container.d-none
                      .col-12
                        %hr
                      .col-md-6.text-regular-sm.mb-3.mb-lg-0
                        = render 'secret_network/balance', selector_prefix: yield_optimizer.pool.cryptocurrency_pools.deposit.first.cryptocurrency.address, show_keplr_connect_button: false
                        %form{ name: "#{yield_optimizer.address}DepositForm" }
                          .input-group.mb-3
                            %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                            .input-group-append
                              %span.input-group-text= yield_optimizer.deposit_label
                          %button.btn.btn-primary.btn-rg{ type: 'submit' }
                            .d-none.loading
                              %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                              %em Loading...
                            .ready Deposit
                      .col-md-6.text-regular-sm
                        = render 'secret_network/balance', selector_prefix: "#{yield_optimizer.address}-user-shares", show_keplr_connect_button: false
                        %form{ name: "#{yield_optimizer.address}WithdrawForm" }
                          .input-group.mb-3
                            %input.form-control{ autocomplete: 'off', name: 'amount', placeholder: '0.0' }
                            .input-group-append
                              %span.input-group-text= yield_optimizer.deposit_label
                          %button.btn.btn-primary.btn-rg{ type: 'submit' }
                            .d-none.loading
                              %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                              %em Loading...
                            .ready Withdraw
