.header-banner.bg-theme-grad-s2#secret-network-buttcoin-index
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-12
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Why some of our contracts aren't private
                  %h5 and what you can do about it
                  %p Updated 27th Septemer 2021
  .nk-ovm.shape-q
  .particles-container.particles-bg#particles-bg{ 'data-pt-base' => '#00c0fa', 'data-pt-base-op' => '.3', 'data-pt-line' => '#2b56f5', 'data-pt-line-op' => '.5', 'data-pt-shape' => '#00c0fa', 'data-pt-shape-op' => '.2' }

%main.nk-pages
%section.section.bg-white
  .container
    .nk-block.nk-block-blog
      .row
        .col-12
          .blog-details
            .row.justify-content-center
              .col-xl-8.col-lg-10
                .blog-content
                  %p
                    After a lot of research and discussion, we've decided to make our DEFI smart contracts transparent. We did this to increase trust and reduce corruption.
                    %b For your own safety, we recommend that you assume ALL interactions, on chain, can be linked to your account.
                  %hr
                  %h5 An example of how you can be linked to an account
                  %p Your account has interacted with a centralized exchange you have provided identification to.
                  = cl_image_tag 'secret_network/why_some_of_our_contracts_are_not_private/a22e83f01ea411ec9d3a5fdd66f6db8e.map_svndhb'
                  %p In the example above, a user has created an account on Binance, provided identification, and then sent SCRT to their account.
                  %hr
                  %h5 Some examples of how your account can be linked to a smart contract
                  %p 1. Your account directly interacts with a smart contract.
                  = cl_image_tag 'secret_network/why_some_of_our_contracts_are_not_private/a4902b901ead11ecb97ec9802f6d594c.map_ayyc8s'

                  %p 2. You transfer tokens to a contract and someone has access to the viewing key for that contract.
                  = cl_image_tag 'secret_network/why_some_of_our_contracts_are_not_private/71a2cc001eae11eca891316490974bb7.map_fr4guc'

                  %p 3. You send tokens to a contract, which changes something that is viewable. An example would be if you deposited a token into an earn contract, and the contract's balance went up.
                  = cl_image_tag 'secret_network/why_some_of_our_contracts_are_not_private/7acc58601ebc11ec966e434693616f2b.map_uxladh'
                  %hr
                  %h5 How to maintain privacy
                  %p You can maintain privacy by obtaining an account that can't be linked to you. You can do this by using a privacy coin such as Monero, and an exchange that does not require identification. In the example below, a user buys SCRT from Binance, creates two Monero accounts, swaps the SCRT for Monero via SimpleSwap.io and has the Monero sent to account #1, sends the Monero from account #1 to #2, creates a Secret network account, then swaps the Monero to SCRT through SimpleSwap.io and has it sent to their Secret network account.
                  = cl_image_tag 'secret_network/why_some_of_our_contracts_are_not_private/0068fcb01ebf11ec8ee41117c1ed0f6a.map_dwnzbq'
                  %hr
                  %i * The info here does not factor in IP tracking, spyware etc. Please use a vpn and other privacy enhancing tools.
