#login
  %h2 btn.group Login
  = form_for(resource, as: resource_name, url: admin_user_session_path) do |f|
    .form-group.form-material.floating{ 'data-plugin' => 'formMaterial' }
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      = f.label :email, class: 'floating-label'
    .form-group.form-material.floating{ 'data-plugin' => 'formMaterial' }
      = f.password_field :password, class: 'form-control'
      = f.label :password, class: 'floating-label'
    %button.btn.btn-primary.btn-block.btn-lg.mt-40{ type: 'submit' } Sign in
