- label ||= 'Balance'
- show_keplr_connect_button ||= true

- if show_keplr_connect_button
  = render 'keplr_connect_button', extra_button_classes: 'btn-xxs mb-1 border btn-round btn-auto', extra_logo_classes: 'd-none'
.balance-container.text-regular-sm.d-none
  #{label}:
  %span{ class: "#{selector_prefix}-balance-loading" }
    %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
    %em Loading...
  %span{ class: "#{selector_prefix}-balance-link" }
    %span
      %a{ class: "#{selector_prefix}-balance" }
    %button.btn.btn-light.btn-xxs.ml-2.mb-1.border.btn-round.btn-auto.d-none{ type: 'button', class: "#{selector_prefix}-balance-view-button" }
      .d-none.loading
        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
        %em Loading...
      .ready
        .fas.fa-search.mr-1
        View

