.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-mount-doom
          .row
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:mount_doom][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'environment_switch'
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:mount_doom][:contracts][:production], staging_contract: features[:secret_network][:features][:mount_doom][:contracts][:staging]
                  %button.btn.btn-sm.btn-theme-dark.mt-1{ 'aria-controls' => 'exampleCollapseExample', 'aria-expanded' => 'true', 'data-toggle' => 'collapse', :href => '#exampleCollapseExample' }
                    Instructions/Requirements
                  .collapse.mt-2#exampleCollapseExample
                    .card.card-default.bg-theme-light
                      .card-block
                        %h6 Requirements
                        %p
                          1.
                          = link_to 'Keplr web wallet', 'https://www.keplr.app/', target: '_blank', rel: 'noopener'
                          %br
                          2. SCRT for gas, if setting a viewing key

                        %h6 What is it?
                        %p This is a burn address smart contract on the Secret network. Anyone can send any Secret network token here and set a viewing key for that token, for this smart contract address. It has no admin functionality so it is completely decentralized.

                        %h6 Why it was created
                        %p We wanted to send some BUTT to a burn address and realised that there wasn't anywhere to send it to, and even if we did, nobody could see it.

                        %h6 How to use
                        %p
                          1. Send tokens to contract.
                          %br
                          2. Set viewing key for token if required.
                          %br
                          3. Query token.

                        %h6 References
                        %p
                          1.
                          = link_to 'github - mount-doom', 'https://github.com/btn-group/mount-doom', target: '_blank', rel: 'noopener'
                          %br
                          2.
                          = link_to 'github - btn.group', 'https://github.com/btn-group/btn.group', target: '_blank', rel: 'noopener'
                  %hr
                  %form{ name: 'mountDoomForm' }
                    .form-group
                      .btn-group.btn-group-toggle.d-block{ 'data-toggle' => 'buttons' }
                        %label.btn.btn-light.btn-md
                          %input#query{ name: 'interactionType', type: 'radio', value: 'query', checked: true } Query token
                        %label.btn.btn-md.btn-light
                          %input#set-viewing-key{ name: 'interactionType', type: 'radio', value: 'set' } Set viewing key
                    .form-group
                      %label.control-label Token Address
                      %input.form-control.w-100#address{ name: 'tokenAddress', required: true, autocomplete: 'off' }
                    .form-group.d-none#contract-hash-input-group
                      %label.control-label Contract hash
                      %input.form-control.w-100#contract-hash{ name: 'contractHash', autocomplete: 'off' }
                    %button.btn.btn-primary.btn-md#submit-button{ type: 'submit' }
                      .d-none#loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #ready
                        Submit
                  #transactions-container
                    %h6.mt-4
                      Balance:
                      %span#balance
                    .table-responsive
                      %table.table.table-striped.table-bordered
                        %thead
                          %tr
                            %th{ style: 'min-width: 135px !important;' }
                            %th Description
                            %th Amount
                        %tbody#transactions-table-body
