.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-yield-optimizer
          .row.mb-3
            .col-12
              .alert.alert-warning-alt
                * Warning! These pools are not private. This is by design. Click
                = link_to 'here', secret_network_why_some_of_our_contracts_are_not_private_path
                to find out why.
                %br
                * Pool APYs are updated daily.
                %br
                * Using smart contracts, tokens, and crypto is always a risk. DYOR before investing.
          .row.mb-3
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:yield_optimizer][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  %form#connect-wallet-form{ name: 'connectWalletForm' }
                    %button.btn.btn-md.btn-grad.w-100#connect-wallet-button{ type: 'submit' }
                      .d-none#connect-wallet-button-loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #connect-wallet-button-ready
                        Connect
          .row.mb-5
            .col-12#pools
              .card.mb-3
                .card-body
                  .row
                    .col-12
                      %h5 Profit distributor SEFI
                    .col-md-6
                      %span.mr-1 Deposit BUTT
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g' }
                      %br
                      %span.mr-1 Earn SEFI
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABeTmPkxJ8CuGzgqCQM7sR0Y-3rTPZHJo4Jc9KObuTyBQ' }
                    .col-md-6
                      TVL:
                      %span.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-total-shares Loading...
                      %br
                      Claimable SEFI:
                      %button.btn.btn-light.btn-sm.ml-2.mb-1.border.btn-play-icon-s2#claim-sefi{ type: 'button' }
                        .d-none.loading
                          %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                          %em Loading...
                        .ready
                          .secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-claimable Loading...
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1yxcexylwyxlq58umhgsjgstgcg2a0ytfy4d9lt-balance-loading.d-none Loading...
                      %span.secret1yxcexylwyxlq58umhgsjgstgcg2a0ytfy4d9lt-balance-link
                        %span.secret1yxcexylwyxlq58umhgsjgstgcg2a0ytfy4d9lt-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1yxcexylwyxlq58umhgsjgstgcg2a0ytfy4d9lt-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqverszDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text BUTT
                        %button.btn.btn-primary.btn-rg.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-deposit-button{ type: 'submit' }
                          .d-none.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-user-shares Loading...
                      %form{ name: 'secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqverszWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text BUTT
                        %button.btn.btn-primary.btn-rg.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-withdraw-button{ type: 'submit' }
                          .d-none.secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1ccgl5ys39zprnw2jq8g3eq00jd83temmqversz-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * Rewards are claimed every time you deposit or withdraw.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                      %h5 Earn Buttcoin
                    .col-md-6
                      %span.mr-1
                        Deposit
                        = link_to 'BUTT-sWBTC LP', 'https://app.secretswap.io/pool#Provide', target: '_blank', rel: 'noopener'
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/CADR09K2Etst36IFvwVUdFwO4WhD91YiURrWNwzq_-7m1A' }
                      %br
                      %span.mr-1 Earn BUTT
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g' }
                    .col-md-6
                      TVL:
                      %span.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-total-shares Loading...
                      %br
                      APR: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku').id).apr}%
                      %br
                      Claimable BUTT:
                      %button.btn.btn-light.btn-sm.ml-2.mb-1.border.btn-play-icon-s2#claim-butt{ type: 'button' }
                        .d-none.loading
                          %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                          %em Loading...
                        .ready
                          .secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-claimable Loading...
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret19kh9wmzulxv8lw0e0fyxjxmwtmln2fqpnetucl-balance-loading.d-none Loading...
                      %span.secret19kh9wmzulxv8lw0e0fyxjxmwtmln2fqpnetucl-balance-link
                        %span.secret19kh9wmzulxv8lw0e0fyxjxmwtmln2fqpnetucl-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret19kh9wmzulxv8lw0e0fyxjxmwtmln2fqpnetucl-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fkuDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text BUTT-sWBTC LP
                        %button.btn.btn-primary.btn-rg.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-deposit-button{ type: 'submit' }
                          .d-none.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-user-shares Loading...
                      %form{ name: 'secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fkuWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text BUTT-sWBTC LP
                        %button.btn.btn-primary.btn-rg.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-withdraw-button{ type: 'submit' }
                          .d-none.secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1725s6smzds6h89djq9yqrtlqfepnxruc3m4fku-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * Rewards are claimed every time you deposit or withdraw.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 SEFI
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABeTmPkxJ8CuGzgqCQM7sR0Y-3rTPZHJo4Jc9KObuTyBQ' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret15l9cqgz5uezgydrglaak5ahfac69kmx2qpd6xt-balance-loading.d-none Loading...
                      %span.secret15l9cqgz5uezgydrglaak5ahfac69kmx2qpd6xt-balance-link
                        %span.secret15l9cqgz5uezgydrglaak5ahfac69kmx2qpd6xt-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret15l9cqgz5uezgydrglaak5ahfac69kmx2qpd6xt-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvfDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI
                        %button.btn.btn-primary.btn-rg.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-deposit-button{ type: 'submit' }
                          .d-none.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-user-shares Loading...
                      %form{ name: 'secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvfWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI
                        %button.btn.btn-primary.btn-rg.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-withdraw-button{ type: 'submit' }
                          .d-none.secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret17gpz09yv0eyw633y459ncqmf4qsye9kwqecnvf-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-SEFI
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABeTmPkxJ8CuGzgqCQM7sR0Y-3rTPZHJo4Jc9KObuTyBQ' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1709qy2smh0r7jjac0qxfgjsqn7zpvgthsdz025-balance-loading.d-none Loading...
                      %span.secret1709qy2smh0r7jjac0qxfgjsqn7zpvgthsdz025-balance-link
                        %span.secret1709qy2smh0r7jjac0qxfgjsqn7zpvgthsdz025-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1709qy2smh0r7jjac0qxfgjsqn7zpvgthsdz025-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0vDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-SEFI
                        %button.btn.btn-primary.btn-rg.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-deposit-button{ type: 'submit' }
                          .d-none.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-user-shares Loading...
                      %form{ name: 'secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0vWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-SEFI
                        %button.btn.btn-primary.btn-rg.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-withdraw-button{ type: 'submit' }
                          .d-none.secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1yuxtccepn3n3z8stqq8cwkz2kvyjcx4nahcs0v-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 SEFI-sXMR
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABeTmPkxJ8CuGzgqCQM7sR0Y-3rTPZHJo4Jc9KObuTyBQ' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/FABkpNmXiHbaXby3duNfzFZXjDeLPxxhH2TAmBddKoGZhQ' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1xug4dc46sqlcaetm5c72qhjtedh05922uac9k2-balance-loading.d-none Loading...
                      %span.secret1xug4dc46sqlcaetm5c72qhjtedh05922uac9k2-balance-link
                        %span.secret1xug4dc46sqlcaetm5c72qhjtedh05922uac9k2-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1xug4dc46sqlcaetm5c72qhjtedh05922uac9k2-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmjDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI-sXMR
                        %button.btn.btn-primary.btn-rg.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-deposit-button{ type: 'submit' }
                          .d-none.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-user-shares Loading...
                      %form{ name: 'secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmjWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI-sXMR
                        %button.btn.btn-primary.btn-rg.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-withdraw-button{ type: 'submit' }
                          .d-none.secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1wgqv5ch9njg454ru5pau02ut7mh5wjf2rr3gmj-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 SEFI-sUSDC(ETH)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABeTmPkxJ8CuGzgqCQM7sR0Y-3rTPZHJo4Jc9KObuTyBQ' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABXRSQbMXk8PLV3CkBPSl4NW2WsSQvyOkZZRfsZeaW4Ww' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1mm7df4ygxwlfg0l70jrrkshlhtp8vv5n7hj9rr-balance-loading.d-none Loading...
                      %span.secret1mm7df4ygxwlfg0l70jrrkshlhtp8vv5n7hj9rr-balance-link
                        %span.secret1mm7df4ygxwlfg0l70jrrkshlhtp8vv5n7hj9rr-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1mm7df4ygxwlfg0l70jrrkshlhtp8vv5n7hj9rr-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jnDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI-sUSDC(ETH)
                        %button.btn.btn-primary.btn-rg.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-deposit-button{ type: 'submit' }
                          .d-none.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-user-shares Loading...
                      %form{ name: 'secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jnWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text SEFI-sUSDC(ETH)
                        %button.btn.btn-primary.btn-rg.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-withdraw-button{ type: 'submit' }
                          .d-none.secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1xec2u79g8qx7krz48lk3xsmr3crmyvp6tp46jn-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sUSDT(ETH)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AAAbmpaWIL-4kXFj0xxrXsby7kSN9AQeyV6hBD65m2o9mg' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1cgd6gcc4uyrxmzsmk4tpeta8auzcgwk4n5ngrx-balance-loading.d-none Loading...
                      %span.secret1cgd6gcc4uyrxmzsmk4tpeta8auzcgwk4n5ngrx-balance-link
                        %span.secret1cgd6gcc4uyrxmzsmk4tpeta8auzcgwk4n5ngrx-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1cgd6gcc4uyrxmzsmk4tpeta8auzcgwk4n5ngrx-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5zDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sUSDT(ETH)
                        %button.btn.btn-primary.btn-rg.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-deposit-button{ type: 'submit' }
                          .d-none.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-user-shares Loading...
                      %form{ name: 'secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5zWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sUSDT(ETH)
                        %button.btn.btn-primary.btn-rg.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-withdraw-button{ type: 'submit' }
                          .d-none.secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1rtu4dnkknlsuxwunc0ufry8se78vjul4953l5z-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sETH(ETH)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AAAyGsQVk6vF6wYWUUvFMqkVX4LlNpCg432ucBCAgw9Hyw' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret17gja535zp09t9mlzzxndqqg4gzvhg0vsklhd54-balance-loading.d-none Loading...
                      %span.secret17gja535zp09t9mlzzxndqqg4gzvhg0vsklhd54-balance-link
                        %span.secret17gja535zp09t9mlzzxndqqg4gzvhg0vsklhd54-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret17gja535zp09t9mlzzxndqqg4gzvhg0vsklhd54-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzkuDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sETH(ETH)
                        %button.btn.btn-primary.btn-rg.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-deposit-button{ type: 'submit' }
                          .d-none.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-user-shares Loading...
                      %form{ name: 'secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzkuWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sETH(ETH)
                        %button.btn.btn-primary.btn-rg.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-withdraw-button{ type: 'submit' }
                          .d-none.secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret199pnc4xusvazp73ns95mylqeq9m4xcr8k4fzku-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sWBTC(ETH)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/CADR09K2Etst36IFvwVUdFwO4WhD91YiURrWNwzq_-7m1A' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1xxvqanj85m7dppplku5782cn9hl8askqd329sv-balance-loading.d-none Loading...
                      %span.secret1xxvqanj85m7dppplku5782cn9hl8askqd329sv-balance-link
                        %span.secret1xxvqanj85m7dppplku5782cn9hl8askqd329sv-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1xxvqanj85m7dppplku5782cn9hl8askqd329sv-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79vDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sWBTC(ETH)
                        %button.btn.btn-primary.btn-rg.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-deposit-button{ type: 'submit' }
                          .d-none.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-user-shares Loading...
                      %form{ name: 'secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79vWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sWBTC(ETH)
                        %button.btn.btn-primary.btn-rg.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-withdraw-button{ type: 'submit' }
                          .d-none.secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1vpvypnlcz0kng32qlp4727tx87e2kauffng79v-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sBNB(BSC)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACF1KK4sIYJAvdd7DcxQUJdW_1n8lnb7l7k2k1TYZoeag' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-sm-5
                      TVL:
                      %span.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1le3d0fgkrzd433fdnetdqslfxmugvg0tuaqspe-balance-loading.d-none Loading...
                      %span.secret1le3d0fgkrzd433fdnetdqslfxmugvg0tuaqspe-balance-link
                        %span.secret1le3d0fgkrzd433fdnetdqslfxmugvg0tuaqspe-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1le3d0fgkrzd433fdnetdqslfxmugvg0tuaqspe-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxpDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sBNB(BSC)
                        %button.btn.btn-primary.btn-rg.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-deposit-button{ type: 'submit' }
                          .d-none.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-user-shares Loading...
                      %form{ name: 'secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxpWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sBNB(BSC)
                        %button.btn.btn-primary.btn-rg.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-withdraw-button{ type: 'submit' }
                          .d-none.secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret18ys9t245ejrx06zmfj6mkvnrd8wrupdanfvnxp-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sDOT(BSC)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABoC4jQvXmvz_dwuegzpIW1wmiZpETMqZBj0lMH599SHw' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-sm-5
                      TVL:
                      %span.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1mc656zt6g37u2ufqp2tw8kaj5jxpujylfzw8yw-balance-loading.d-none Loading...
                      %span.secret1mc656zt6g37u2ufqp2tw8kaj5jxpujylfzw8yw-balance-link
                        %span.secret1mc656zt6g37u2ufqp2tw8kaj5jxpujylfzw8yw-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1mc656zt6g37u2ufqp2tw8kaj5jxpujylfzw8yw-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242cDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sDOT(BSC)
                        %button.btn.btn-primary.btn-rg.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-deposit-button{ type: 'submit' }
                          .d-none.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-user-shares Loading...
                      %form{ name: 'secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242cWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sDOT(BSC)
                        %button.btn.btn-primary.btn-rg.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-withdraw-button{ type: 'submit' }
                          .d-none.secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret19dq8df5jyqqd7v6eugk4c255lgasj76kug242c-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sUSDC(ETH)-sUSDC(BSC) LP
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABXRSQbMXk8PLV3CkBPSl4NW2WsSQvyOkZZRfsZeaW4Ww' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AADY8NK1wfSi7DUdrDRk9k9Gr80EeTWnLoq1mLIAbGg3_A' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret163e9frya0vqar70s4j3na94apf0cffl2rjgmgg-balance-loading.d-none Loading...
                      %span.secret163e9frya0vqar70s4j3na94apf0cffl2rjgmgg-balance-link
                        %span.secret163e9frya0vqar70s4j3na94apf0cffl2rjgmgg-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret163e9frya0vqar70s4j3na94apf0cffl2rjgmgg-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1k38fm5942tnyl7jqct0nxkluldl84gldhravqlDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sUSDC(ETH)-sUSDC(BSC) LP
                        %button.btn.btn-primary.btn-rg.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-deposit-button{ type: 'submit' }
                          .d-none.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-user-shares Loading...
                      %form{ name: 'secret1k38fm5942tnyl7jqct0nxkluldl84gldhravqlWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sUSDC(ETH)-sUSDC(BSC) LP
                        %button.btn.btn-primary.btn-rg.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-withdraw-button{ type: 'submit' }
                          .d-none.secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1k38fm5942tnyl7jqct0nxkluldl84gldhravql-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
              .card.mb-3
                .card-body
                  .row
                    .col-12
                    .col-md-6
                      %div Deposit & Earn
                      %span.mr-1 sSCRT-sLINK(ETH)
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AACL5VVg8IZC4H_9cTiaPSzvD8hXmaJYXFc2t8piZgf5Ig' }
                      %span
                        %img.logo-avatar{ src: 'https://siasky.net/AABTb2I_YOOB4x-PZDltgjTiuP92_fFwo5Z0MMLADr_OWg' }
                      %br
                      %span via
                      %a{ href: 'https://app.secretswap.io/earn', rel: 'noopener', target: '_blank' } Secret Swap
                    .col-md-6
                      TVL:
                      %span.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-total-shares Loading...
                      %br
                      APY: ~#{Pool.find_by(smart_contract_id: SmartContract.find_by(address: 'secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r').id).apy}%
                      %br
                      Rewards to process:
                      %span.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-rewards-to-process Loading...
                      %span SEFI
                  .row
                    .col-12
                      %hr
                    .col-md-6.mb-3.mb-lg-0
                      Depositable:
                      %span.secret1rldr66767a4gz3adkq2vgndwgnxlfqqae4fgen-balance-loading.d-none Loading...
                      %span.secret1rldr66767a4gz3adkq2vgndwgnxlfqqae4fgen-balance-link
                        %span.secret1rldr66767a4gz3adkq2vgndwgnxlfqqae4fgen-balance Loading...
                        %button.btn.btn-light.btn-sm.ml-2.mb-1.border.secret1rldr66767a4gz3adkq2vgndwgnxlfqqae4fgen-balance-view-button.d-none{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7rDepositForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sLINK(ETH)
                        %button.btn.btn-primary.btn-rg.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-deposit-button{ type: 'submit' }
                          .d-none.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-deposit-button-ready Deposit
                    .col-md-6
                      Withdrawable:
                      %span.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-user-shares Loading...
                      %form{ name: 'secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7rWithdrawForm' }
                        .input-group.mb-3
                          %input.form-control{ autocomplete: 'off', name: 'amount' }
                          .input-group-append
                            %span.input-group-text sSCRT-sLINK(ETH)
                        %button.btn.btn-primary.btn-rg.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-withdraw-button{ type: 'submit' }
                          .d-none.secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .secret1gtcvrqffjng9avt6djwesrfk322ccmqad43t7r-withdraw-button-ready Withdraw
                .col-12
                  %hr
                  * Please use the gas recommended for deposits and withdrawals.
                  %br
                  * 5% of yield sent to profit distributor, see contract above.
                  %br
                  * Rewards are reinvested every time a user deposits or withdraws.
  .nk-ovm.shape-q
