.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-yield-optimizer
          .row.mb-3
            .col-12
              .alert.alert-warning-alt
                * Warning! These pools are not private. This is by design. Click
                = link_to 'here', secret_network_why_some_of_our_contracts_are_not_private_path
                to find out why.
                %br
                * Using smart contracts, tokens, and crypto is always a risk. DYOR before investing.
          .row.mb-3
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:yield_optimizer][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  %form#connect-wallet-form{ name: 'connectWalletForm' }
                    %button.btn.btn-md.btn-grad.w-100#connect-wallet-button{ type: 'submit' }
                      .d-none#connect-wallet-button-loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #connect-wallet-button-ready
                        Connect
          .row.mb-5
            .col-12
              .card.mb-3
                .card-body
                  .row
                    .col-12
                      %h5 Profit distributor
                    .col-sm-7
                      %span.mr-2 Deposit BUTT
                      %span= image_tag 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g', class: 'logo-avatar'
                      %br
                      %span.mr-2 Earn SEFI
                      %span= cl_image_tag('logos/sefi_xa4yx2', width: 24, height: 24, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, class: 'mr-2 d-sm-inline')
                    .col-sm-5
                      TVL:
                      %span.profit-distributor-total-shares Loading...
                      %br
                      Claimable SEFI:
                      %span.profit-distributor-claimable-profit Loading...
                  .row
                    .col-12
                      %hr
                    .col-sm-6
                      Depositable:
                      %span.butt-wallet-balance-loading Loading...
                      %span.d-none.butt-wallet-balance-link
                        %span.d-none.butt-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.butt-wallet-balance-view-button{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'profitDistributorDepositForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#profit-distributor-deposit-button{ type: 'submit' }
                          .d-none#profit-distributor-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #profit-distributor-deposit-button-ready
                            Deposit
                    .col-sm-6
                      Withdrawable:
                      %span.profit-distributor-user-shares Loading...
                      %form{ name: 'profitDistributorWithdrawForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#profit-distributor-withdraw-button{ type: 'submit' }
                          .d-none#profit-distributor-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #profit-distributor-withdraw-button-ready
                            Withdraw
              // Yield optimizer B
              .card.mb-3
                .card-body
                  .row
                    .col-12
                      %h5 Earn Buttcoin
                    .col-sm-7
                      %span.mr-2 Deposit BUTT-sWBTC LP
                      %span= image_tag 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g', class: 'logo-avatar'
                      %span= cl_image_tag('logos/wbtc_ethereum_iwfxwu', crop: :scale, height: 24, dpr: 2, fetch_format: :auto, quality: :auto, class: 'align-top d-sm-inline', style: 'height: 24px;')
                      %br
                      %span.mr-2 Earn BUTT
                      = image_tag 'https://siasky.net/AAB1xbkxt91L2pStCCLRe-s2BG0N03K8OCugzeG8MSAP5g', class: 'logo-avatar'
                    .col-sm-5
                      TVL:
                      %span.yield-optimizer-b-total-shares Loading...
                      %br
                      Claimable BUTT:
                      %span.yield-optimizer-b-claimable-butt Loading...
                  .row
                    .col-12
                      %hr
                    .col-sm-6
                      Depositable:
                      %span.butt-swbtc-lp-wallet-balance-loading Loading ...
                      %span.d-none.butt-swbtc-lp-wallet-balance-link
                        %span.d-none.butt-swbtc-lp-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.butt-swbtc-lp-wallet-balance-view-button{ type: 'button' }
                          .d-none.loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'yieldOptimizerBDepositForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#yield-optimizer-b-deposit-button{ type: 'submit' }
                          .d-none#yield-optimizer-b-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #yield-optimizer-b-deposit-button-ready
                            Deposit
                    .col-sm-6
                      Withdrawable:
                      %span.yield-optimizer-b-user-shares Loading...
                      %form{ name: 'yieldOptimizerBWithdrawForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#yield-optimizer-b-withdraw-button{ type: 'submit' }
                          .d-none#yield-optimizer-b-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #yield-optimizer-b-withdraw-button-ready
                            Withdraw
              // SEFI yield optimizer
              .card
                .card-body
                  .row
                    .col-sm-7
                      %span.mr-2 Deposit SEFI
                      %span= cl_image_tag('logos/sefi_xa4yx2', width: 24, height: 24, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                      %br
                      %span.mr-2 Earn SEFI
                      %span= cl_image_tag('logos/sefi_xa4yx2', width: 24, height: 24, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, class: 'mr-2 d-sm-inline')
                      %br
                      %span via
                      = link_to 'SECRETSWAP', 'https://app.secretswap.io/earn', target: '_blank', rel: 'noopener'
                    .col-sm-5.d-none
                      TVL:
                      %span.yield-optimizer-spy-sefi-v2-total Loading...
                  .row
                    .col-12
                      %hr
                    .col-12
                      %h5 This will be live once Secret Swap initiates their new earn contracts.
                  .row.d-none
                    .col-12
                      %hr
                    .col-sm-6
                      Deposit:
                      %span.sefi-wallet-balance-loading Loading ...
                      %span.d-none.sefi-wallet-balance-link
                        %span.d-none.sefi-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.sefi-wallet-balance-view-button{ type: 'button' }
                          .d-none.sefi-wallet-balance-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %form{ name: 'spySEFIV2DepositForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#spy-sefi-v2-deposit-button{ type: 'submit' }
                          .d-none#spy-sefi-v2-deposit-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #spy-sefi-v2-deposit-button-ready
                            Deposit
                    .col-sm-6
                      Withdraw:
                      %span.yield-optimizer-spy-sefi-v2-user-withdrawable Loading ...
                      %form{ name: 'spySEFIV2WithdrawForm' }
                        .form-group
                          %input.form-control{ name: 'amount' }
                        %button.btn.btn-primary.btn-rg#spy-sefi-v2-withdraw-button{ type: 'submit' }
                          .d-none#spy-sefi-v2-withdraw-button-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          #spy-sefi-v2-withdraw-button-ready
                            Withdraw
                    .col-12
                      %hr
                      Fees: 5% of yield sent to profit distributor (smart contract)
  .nk-ovm.shape-q
