.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-yield_optimizer
          .row.mb-5
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:yield_optimizer][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  %hr
                  %table.table.table-striped.table-bordered#yield-optimizer-table
                    %thead
                      %th
                        Token
                        %br
                        Farm
                        %br
                        TVL
                      %th
                        APY
                        %br
                        Daily APR
                        %br
                        AUTO APR
                      %th
                        Balance
                        %br
                        Deposit
                        %br
                        Rewards
                      %th
                    %tbody
                      %td
                        %img{ src: 'https://app.secretswap.io/static/tokens/sefi.png', style: 'width: 18px;' }
                        SEFI
                        %br
                        = link_to 'SECRETSWAP', 'https://app.secretswap.io/earn', target: '_blank', rel: 'noopener'
                        %br
                        TVL #{rand(1000).to_f / 10}M
                      %td
                        #{rand(1000).to_f / 10}%
                        %br
                        #{rand(1000).to_f / 10}%
                        %br
                        #{rand(1000).to_f / 10}%
                      %td
                        = (rand(1000).to_f / 100).to_s
                        %br
                        = (rand(1000).to_f / 100).to_s
                        %br
                        = (rand(1000).to_f / 100).to_s
                      %td.text-center
                        .btn.btn-primary.btn-sm
                          Deposit
                        .btn.btn-primary.btn-sm.mt-1
                          Withdraw
                        .btn.btn-primary.btn-sm.mt-1
                          Claim
  .nk-ovm.shape-q
