.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-yield-optimizer
          .row.mb-3
            .col-12
              .alert.alert-danger
                This page is under construction and is only visible for investors to see the work in progress.
          .row.mb-5
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:yield_optimizer][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  %form#connect-wallet-form{ name: 'connectWalletForm' }
                    %button.btn.btn-md.btn-grad.w-100#connect-wallet-button{ type: 'submit' }
                      .d-none#connect-wallet-button-loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #connect-wallet-button-ready
                        Connect
          .row.mb-5
            .col-12
              .card.mb-3
                .card-body
                  .row
                    .col-sm-3
                      = cl_image_tag(logo_cloudinary_public_id, crop: :scale, height: 24, dpr: 2, fetch_format: :auto, quality: :auto, class: 'align-top mr-2 d-none d-sm-inline', style: 'height: 24px;')
                      BUTT
                      %br
                      Profit distributor
                    .col-sm-3
                      Wallet:
                      %span.butt-wallet-balance-loading Loading...
                      %span.d-none.butt-wallet-balance-link
                        %span.d-none.butt-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.butt-wallet-balance-view-button{ type: 'button' }
                          .d-none
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %br
                      Deposited:
                      %span.profit-distributor-user-shares Loading...
                      %br
                      Claimable SEFI:
                      %span.profit-distributor-claimable-profit Loading...
                    .col-sm-2
                      This contract receives the 5% fees from the yield optimizer contracts.
                    .col-sm-2
                      TVL:
                      %span.profit-distributor-total-shares Loading...
                    .col-sm-2
                      %h3= link_to '>', '#profit-distributor-collapse', 'data-toggle' => 'collapse'
                  .row.collapse#profit-distributor-collapse
                    .col-12
                      %hr
                    .col-sm-6
                      Deposit:
                      %span.butt-wallet-balance-loading Loading...
                      = link_to '#', class: 'd-none butt-wallet-balance-link' do
                        %span.d-none.butt-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.butt-wallet-balance-view-button{ type: 'button' }
                          .d-none
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      .form-group
                        %input.form-control
                      .btn.btn-primary Deposit
                    .col-sm-6
                      Withdraw:
                      %span.profit-distributor-user-shares Loading...
                      .form-group
                        %input.form-control
                      .btn.btn-primary Withdraw
                    .col-12
                      %hr
                      Fees: nil
              .card
                .card-body
                  .row
                    .col-sm-3
                      = cl_image_tag('logos/sefi_xa4yx2', width: 24, height: 24, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                      SEFI
                      %br
                      = link_to 'SECRETSWAP', 'https://app.secretswap.io/earn', target: '_blank', rel: 'noopener'
                    .col-sm-3
                      Wallet:
                      %span.sefi-wallet-balance-loading Loading ...
                      %span.d-none.sefi-wallet-balance-link
                        %span.d-none.sefi-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.sefi-wallet-balance-view-button{ type: 'button' }
                          .d-none
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      %br
                      Deposited: 0
                    .col-sm-2
                      APY: #{rand(1000).to_f / 10}%
                      %br
                      Daily: #{rand(1000).to_f / 10}%
                    .col-sm-2
                      TVL: $#{rand(1000).to_f / 10}M
                    .col-sm-2
                      %h3= link_to '>', '#collapseExample', 'data-toggle' => 'collapse'
                  .row.collapse#collapseExample
                    .col-12
                      %hr
                    .col-sm-6
                      Balance:
                      %span.sefi-wallet-balance-loading Loading ...
                      = link_to '#', class: 'd-none sefi-wallet-balance-link' do
                        %span.d-none.sefi-wallet-balance
                        %button.btn.btn-light.btn-sm.ml-2.border.sefi-wallet-balance-view-button{ type: 'button' }
                          .d-none.sefi-wallet-balance-loading
                            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                            %em Loading...
                          .ready
                            .fas.fa-search.mr-1
                            View
                      .form-group
                        %input.form-control
                      .btn.btn-primary Deposit
                    .col-sm-6
                      Withdraw: 0 SEFI
                      .form-group
                        %input.form-control
                      .btn.btn-primary Withdraw
                    .col-12
                      %hr
                      Fees: 5% of yield sent to profit distributor (smart contract)
  .nk-ovm.shape-q
