.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-address-alias-index
          .row.mb-5
            .col-12
              .card
                .card-body
                  = link_to 'New', new_secret_network_address_alias_path, class: 'btn btn-secondary btn-md float-right mb-3'
                  %h3= features[:secret_network][:features][:address_alias][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'environment_switch'
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:address_alias][:contracts][:production], staging_contract: features[:secret_network][:features][:address_alias][:contracts][:staging]
                  %hr
                  %form{ name: 'aliasSearchForm' }
                    .form-group
                      %label.control-label Search by
                      .btn-group.btn-group-toggle.d-block{ 'data-toggle' => 'buttons' }
                        %label.btn.btn-light.btn-md
                          %input#address{ name: 'searchType', type: 'radio', value: 'address' } Address
                        %label.btn.btn-md.btn-light
                          %input#alias{ name: 'searchType', type: 'radio', value: 'alias', checked: true } Alias
                    .form-group
                      %input.form-control.w-100#search-value{ name: 'searchValue', required: true }
                    %button.btn.btn-primary.btn-md#search-button{ type: 'submit' }
                      .d-none#loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #ready
                        Search
              .card.my-3.d-none#result-container
                .card-body
                  .p-1.m-1.d-none#result-value
                  .alert.alert-danger.d-none.mt-3#alert-danger
