.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container#secret-network-address-alias-new
          .row.mb-5.mt-3
            .col-lg-10.offset-lg-1
              .card
                .card-body
                  %h3= features[:secret_network][:features][:address_alias][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'environment_switch'
                  = render 'secret_network_feature_contracts', production_contract: features[:secret_network][:features][:address_alias][:contracts][:production], staging_contract: features[:secret_network][:features][:address_alias][:contracts][:staging]
                  %hr
                  %form{ name: 'aliasCreateForm' }
                    .form-group
                      %label{ for: 'alias' } Alias
                      %input.form-control.w-100#alias{ name: 'alias', required: true }
                    .form-group
                      %label{ for: 'avatar-url' } Avatar url
                      %input.form-control.w-100#avatar-url{ name: 'avatarUrl' }
                    = link_to 'Cancel', secret_network_address_alias_index_path, class: 'btn btn-light btn-md', id: 'cancel-button'
                    %button.btn.btn-primary.btn-md#create-button{ type: 'submit', disabled: true }
                      #loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      .d-none#ready
                        Create
              .card.my-3.d-none#result-container
                .card-body
                  %h3 Result
                  %pre.p-1.m-1.alert.alert-success.d-none#result-value
                  .alert.alert-danger.d-none.mt-3#alert-danger
%main.nk-pages
