- include_other ||= false

.modal.fade.tokenList{ 'aria-hidden' => 'true', 'aria-labelledby' => modal_title_id, role: 'dialog', tabindex: '-1', id: modal_id }
  .modal-dialog{ role: 'document' }
    .modal-content.bg-white{ style: 'height: 90vh', id: modal_content_id }
      .modal-header.d-block
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
        %h5.modal-title{ id: modal_title_id } Select a token
        .field-wrap.mt-2
          %input.input-bordered.input-bordered-lg.search{ autocomplete: 'off', name: 'inputname1', type: 'text', placeholder: 'Search', id: modal_input_id }
      .modal-body{ style: 'overflow: scroll;' }
        .position-absolute No result found.
        %ul.list
          - if include_other
            %li.bg-white{ style: 'padding: 0 !important;', 'data-cryptocurrency-id': 0, 'data-cryptocurrency-address': nil, 'data-cryptocurrency-name': 'OTHER', 'data-cryptocurrency-cloudinary-public-id': nil, 'data-cryptocurrency-symbol': 'OTHER' }
              = link_to '#', class: 'd-block' do
                .d-flex
                  .position-absolute{ style: 'top: 7px' }
                    = cl_image_tag('external-content.duckduckgo-1_memqe7', transformation: [{ fetch_format: :auto, quality: 100, crop: :scale, drp: 2, height: 48, width: 48 }], class: 'mr-2 logo-avatar', style: 'vertical-align: text-bottom')
                  %b.symbol{ style: 'color: #415076 !important; padding-left: 33px;' } OTHER
          - cryptocurrencies.each do |cryptocurrency|
            %li.bg-white{ style: 'padding: 0 !important;', 'data-cryptocurrency-id': cryptocurrency.id, 'data-cryptocurrency-address': cryptocurrency.smart_contract&.address, 'data-cryptocurrency-name': cryptocurrency.name, 'data-cryptocurrency-cloudinary-public-id': cryptocurrency.attachments.first&.cloudinary_public_id, 'data-cryptocurrency-symbol': cryptocurrency.symbol }
              = link_to '#', class: 'd-block' do
                .d-flex
                  .position-absolute{ style: 'top: 7px' }
                    = cl_image_tag(cryptocurrency.attachments.first&.cloudinary_public_id || 'external-content.duckduckgo-1_memqe7', transformation: [{ fetch_format: :auto, quality: 100, crop: :scale, drp: 2, height: 48, width: 48 }], class: 'mr-2 logo-avatar', style: 'vertical-align: text-bottom')
                  %b.symbol{ style: 'color: #415076 !important; padding-left: 33px;' }= label_type == 'symbol' ? cryptocurrency.symbol : cryptocurrency.name
