.header-banner.bg-theme-grad.has-ovm
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Brand assets
  / .nk-banner
  .nk-ovm.shape-a-sm
%main.nk-pages
  %section.section.bg-light
    .container
      .row.gutter-15px{ 'data-masonry': '{ "percentPosition": true }' }
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593640/branding/Logo_wwxgtf.svg')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593639/branding/logo_plus_text_au6dx9.svg')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593640/branding/logo_bnw_b3xwde.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593640/branding/btn_purple_background_dh2guy.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636594270/branding/Screen_Shot_2021-11-11_at_12.30.58_pm_bkt5dp.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593639/branding/logo_black_no_circle_maupyo.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593639/branding/logo_plus_text_xo3jwt.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593639/branding/Logo_kkhagl.png')
        .col-md-6.col-lg-4.mb-3
          .card
            = cl_image_tag('https://res.cloudinary.com/hv5cxagki/image/upload/v1636593639/branding/logo_wnb_iuvva3.png')
