- content_for :header_banner do
  .header-banner.bg-theme-grad-s2#home
    .nk-banner
      .banner.banner-fs.banner-single.banner-s1.banner-s1-overlay
        .banner-wrap
          .container
            .row.align-items-center.justify-content-center.justify-content-lg-between.gutter-vr-60px
              .col-lg-6.col-xl-5.col-md-8.col-sm-9.order-last
                .token-status.token-status-s3.round.bg-theme.tc-light
                  .token-info.token-info-s1
                    .token-info-item-s1.team
                      = link_to secret_network_button_swap_path do
                        = cl_image_tag('secret_network/dex_aggregator/dex_mhead_rs_xxqpdz.png', gravity: 'center', height: 247, width: 371, crop: 'crop')
                  .token-action.token-action-s2.flex-wrap.flex-sm-nowrap
                    = link_to 'Get $BUTT now', secret_network_button_swap_path, class: 'btn btn-md btn-grad w-100'
              .col-lg-6.col-xl-6.text-center.text-lg-left
                .banner-caption.tc-light
                  .cpn-head.mt-0
                    %h1.title.title-thin.title-xl-2 We develop software for blockchain.
                  .cpn-text.cpn-text-s2
                    %p.lead-s2.lead-light Simplicity, transparency and communication are key.
                  .cpn-social
                    %h4.title-xs CURRENTLY BUILDING ON
                    %ul.social
                      %li
                        = link_to 'https://near.org/', target: '_blank', rel: 'noopener' do
                          %em.social-icon.fab
                            = cl_image_tag('logos/icon_wht_nm_xnjxrm', width: 20, crop: :scale, dpr: 2, fetch_format: :auto, class: 'p-1')
                          %span NEAR
                      %li
                        = link_to 'http://scrt.network', target: '_blank', rel: 'noopener' do
                          %em.social-icon.fab
                            = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 20, crop: :scale, dpr: 2, fetch_format: :auto)
                          %span Secret Network
    .nk-ovm.shape-q
%main.nk-pages
  %section.section.bg-light#home-features
    .container
      .section-head.section-head-s7.text-center.wide-auto-sm
        %h2.title.title-thin Features
      .nk-block.nk-block-features-s2
        .row.align-items-center.gutter-vr-30px
          .col-lg-4.col-md-6
            = link_to secret_network_address_alias_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-1.p-1
                  = cl_image_tag 'secret_network/address_alias/wallet_jkkqa4', crop: :lpad, dpr: 2, fetch_format: :auto, height: 246, width: 230
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Address alias
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_block_locker_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-2.p-3{ style: 'padding-top: 42px !important; padding-bottom: 43px !important;' }
                  = cl_image_tag 'secret_network/block_locker/bl2_ep4ctq', width: 333, crop: :scale, dpr: 2, fetch_format: :auto
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Block locker
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_button_swap_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-3
                  = cl_image_tag 'secret_network/dex_aggregator/dex_mhead_rs_xxqpdz', width: 333, crop: :scale, dpr: 2, fetch_format: :auto
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Button Swap
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_mount_doom_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-2
                  = cl_image_tag 'secret_network/mount_doom/mt_doom_biwkdj', height: 242, width: 230, crop: :fill, dpr: 2, fetch_format: :auto
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Mount Doom
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_password_manager_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-2
                  = cl_image_tag 'secret_network/password_manager/wheel_of_password_obhsyv', height: 242, width: 230, crop: :fill, dpr: 2, fetch_format: :auto
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Password manager
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_pools_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-3.p-3
                  = cl_image_tag 'secret_network/yield_optimizer/3143e566-c3f1-4252-80f2-6bbbc5242368_pfkrls', crop: :lpad, dpr: 2, fetch_format: :auto, height: 246, width: 230
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Pools
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            .card.card-lg-y.feature.feature-center
              .feature-icon.feature-icon-bg-grd.feature-icon-s5-2.p-3
                = cl_image_tag 'secret_network/smart_contract_interface/contract_rough_MG_tw1vei', width: 333, crop: :scale, dpr: 2, fetch_format: :auto
              .feature-text
                %h4.title.title-md.title-dark.mb-1 Smart contract interface
                %p
                  = link_to near_smart_contract_interface_path do
                    = cl_image_tag(features[:near][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:near][:name]
                  %br
                  = link_to secret_network_smart_contract_interface_path do
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
          .col-lg-4.col-md-6
            = link_to secret_network_transactions_path do
              .card.card-lg-y.feature.feature-center
                .feature-icon.feature-icon-bg-grd.feature-icon-s5-3.p-3
                  = cl_image_tag 'secret_network/transactions/transaction_rough_j8coyp', crop: :lpad, dpr: 2, fetch_format: :auto, height: 246, width: 230
                .feature-text
                  %h4.title.title-md.title-dark.mb-1 Transactions
                  %p
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                    = features[:secret_network][:name]
  %section.section.section-s.bg-white
    .container
      .nk-block.block-partners
        %ul.partner-list.flex-lg-nowrap.mgb-m30
          %li.partner-logo-s3
            = link_to 'https://www.coingecko.com/en/coins/buttcoin', target: '_blank', rel: 'noopener' do
              = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636594988/logos/CoinGecko-pos_i2s9gv.svg'
          %li.partner-logo-s3
            = link_to 'https://secretanalytics.xyz/secretswap/secret1f30aqh59eg5xhalsdc6u8cv26qe283ey9pp658', target: '_blank', rel: 'noopener' do
              = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636594988/logos/SCRT-Analytics-logo-p-500_hdbmxn.png'
          %li.partner-logo-s3
            = link_to 'https://app.secretswap.net/', target: '_blank', rel: 'noopener' do
              = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/v1636597008/logos/secret-swap_ajyx9t.svg'
