.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-fs.banner-single.banner-s1.banner-s1-overlay
      .banner-wrap
        .container
          .row.align-items-center.justify-content-center.justify-content-lg-between.gutter-vr-60px
            .col-lg-6.col-xl-5.col-md-8.col-sm-9.order-last
              .pb-2.token-status.token-status-s3.round.bg-theme.tc-light
                %h4.title-md.title-thin Big news coming!
                .token-info.token-info-s1
                  %p.text-center Don’t miss out. Be the first to know.
                  %form.nk-form-submit.validate#mc-embedded-subscribe-form{ action: 'https://group.us6.list-manage.com/subscribe/post?u=eb5f49c9e796d26b7737589fb&id=3ba7db12dc', method: 'post', target: '_blank', name: 'mc-embedded-subscribe-form' }
                    .field-inline.field-inline-s2.d-block.bg-white.shadow-soft#mc_embed_signup_scroll
                      .field-wrap
                        %input.input-solid.input-solid-md.required.email.text-center{ name: 'EMAIL', type: 'email', placeholder: 'Enter your email' }
                      #anti-spam-container{ 'aria-hidden' => 'true' }
                        %input{ name: 'b_eb5f49c9e796d26b7737589fb_3ba7db12dc', tabindex: '-1', type: 'text', value: '' }
                      .submit-wrap
                        %button.btn.btn-secondary.btn-md.w-100{ type: 'submit' } Subscribe
            .col-lg-6.col-xl-6.text-center.text-lg-left
              .banner-caption.tc-light
                .cpn-head.mt-0
                  %h1.title.title-thin.title-xl-2 We develop software for blockchain.
                .cpn-text.cpn-text-s2
                  %p.lead-s2.lead-light Simplicity, transparency and communication are key.
                .cpn-btns
                  %ul.btn-grp
                    %li= link_to 'Features', features_path, class: 'btn btn-md btn-primary btn-outline'
                .cpn-social
                  %h4.title-xs CURRENTLY BUILDING ON
                  %ul.social
                    %li
                      = link_to 'http://scrt.network', target: '_blank', rel: 'noopener' do
                        %em.social-icon.fab
                          = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 20, crop: :scale, dpr: 2, fetch_format: :auto)
                        %span Secret Network
                    %li
                      = link_to 'http://binance.com', target: '_blank', rel: 'noopener' do
                        %em.social-icon.fab
                          = cl_image_tag('logos/54043975-b6cdb800-4182-11e9-83bd-0cd2eb757c6e_vhapj8', width: 20, crop: :scale, dpr: 2, fetch_format: :auto)
                        %span Binance Exchange
  .nk-ovm.shape-q
  .particles-container.particles-bg#particles-bg{ 'data-pt-base' => '#00c0fa', 'data-pt-base-op' => '.3', 'data-pt-line' => '#2b56f5', 'data-pt-line-op' => '.5', 'data-pt-shape' => '#00c0fa', 'data-pt-shape-op' => '.2' }
%main.nk-pages
  %section.section.bg-light#about
    .container
      .section-head.section-head-s7.text-center.wide-auto-sm
        %h2.title.title-thin Features
      .nk-block.nk-block-features-s2
        .row.align-items-center.gutter-vr-30px
          .col-lg-4
            .card.card-lg-y.feature.feature-center
              .feature-icon.feature-icon-bg-grd.feature-icon-bg-grd-s1
                = image_tag 'https://i.kym-cdn.com/photos/images/newsfeed/001/111/505/1aa.jpg'
              .feature-text
                %h4.title.title-md.title-dark.mb-4 Address alias
                %p Create an easy to search alias for your wallet.
          .col-lg-4
            .card.card-lg-y.feature.feature-center
              .feature-icon.feature-icon-bg-grd.feature-icon-bg-grd-s1
                = image_tag 'https://i.kym-cdn.com/photos/images/original/001/322/569/e9d.jpg'
              .feature-text
                %h4.title.title-md.title-dark.mb-4 Smart contract iterface
                %p Create an easy to search alias for your wallet.
          .col-lg-4
            .card.card-lg-y.feature.feature-center
              .feature-icon.feature-icon-bg-grd.feature-icon-bg-grd-s1
                = image_tag 'http://hypebeast.com/image/2016/05/crying-jordan-meme-photographer-speaks-up-0.jpg'
              .feature-text
                %h4.title.title-md.title-dark.mb-4 Transactions
                %p Create an easy to search alias for your wallet.
  %section.section.bg-white#team
    .container
      .section-head.section-head-s7.text-center.wide-auto-sm
        %h2.title.title-thin Team
      .nk-block.nk-block-team-list
        .row.justify-content-center
          .col-lg-3.col-sm-6
            .team
              .team-photo.team-photo-s2
                %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_277,q_auto,w_230/v1620523941/team/14280689_uuuoab' }
              %h5.team-name.title.title-sm Steven Chang
              .block Founder & CTO
              .team-position Sydney, Australia
          .col-lg-3.col-sm-6
            .team
              .team-photo.team-photo-s2
                %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_277,q_auto,w_230/v1620884680/team/image000000-3_2_u1df0q' }
              %h5.team-name.title.title-sm Chris Asnins
              .block Creative / Marketing
              .team-position Brisbane, Australia
          .col-lg-3.col-sm-6
            .team
              .team-photo.team-photo-s2
                %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_270,q_auto,w_230/v1620865143/team/IMG_1589_fbdtba' }
              %h5.team-name.title.title-sm Ella Kabel
              .block Data analyst
              .block.team-position Brisbane, Australia
          .col-lg-3.col-sm-6
            .team
              .team-photo.team-photo-s2
                %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_270,q_auto,w_230/v1620865143/team/61590b32-91f7-43c4-99e8-1e5230f7f13f_xd1wrj' }
              %h5.team-name.title.title-sm Fleur Templeton
              .block Writer / Content
              .block.team-position Brisbane, Australia
