.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-transactions
          .row.mb-5
            .col-12
              .card
                .card-body
                  %h3 Features
                  %table.table.table-striped.table-bordered#features-table
                    - features.each do |blockchain_symbol, blockchain_object|
                      - blockchain_object[:features].each do |feature_key, feature_value|
                        %tr
                          %td
                            - if feature_value[:show_link]
                              = link_to feature_value[:name], "/#{blockchain_symbol}/#{feature_key}", class: 'text-decoration-none'
                            - else
                              = feature_value[:name]
                          %td
                            - if features[blockchain_symbol][:cloudinary_public_id].present?
                              = cl_image_tag(features[blockchain_symbol][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                            = blockchain_object[:name]
                          %td= feature_value[:status]
  .nk-ovm.shape-q
%main.nk-pages
  %section.section.bg-light#roadmap
    .container
      .section-head.section-head-s9.wide-md
        %h2.title Road Map
      .nk-block.nk-block-left
        .roadmap-all.mgb-m50
          .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-s1-alt.mb-0.ml-0
            .row.no-gutters
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1-alt.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Concept
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Concept Generation
                      %li Team Assemble
              .col-lg
                .roadmap.roadmap-current.roadmap-s1.roadmap-s1-alt.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Create core resources (WIP)
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Website / Logo
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Auditing tools for Secret network (WIP)
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Address alias
                      %li Smart contract querier
                      %li Transactions (SNIP-20)
          -# .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-s1-alt.mb-0.ml-0
          -#   .row.flex-row-reverse.no-gutters
          -#     .col-lg
          -#       .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
          -#         .roadmap-step.roadmap-step-s1
          -#           .roadmap-head.roadmap-head-s1
          -#             %span.roadmap-time.roadmap-time-s1 2021 Q2
          -#             %span.roadmap-title.roadmap-title-s1 Buttcoin (WIP)
          -#           %ul.roadmap-step-list.roadmap-step-list-s1
          -#             %li Build / Test / Audit
          -#     .col-lg
          -#       .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
          -#         .roadmap-step.roadmap-step-s1
          -#           .roadmap-head.roadmap-head-s1
          -#             %span.roadmap-time.roadmap-time-s1 2021 Q2
          -#             %span.roadmap-title.roadmap-title-s1 Launch pad for Secret network (WIP)
          -#           %ul.roadmap-step-list.roadmap-step-list-s1
          -#             %li R & D
          -#             %li Build / Test / Audit
          -#     .col-lg
          -#       .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
          -#         .roadmap-step.roadmap-step-s1
          -#           .roadmap-head.roadmap-head-s1
          -#             %span.roadmap-time.roadmap-time-s1 2021 Q2
          -#             %span.roadmap-title.roadmap-title-s1 Buttcoin Sale (WIP)
          -#           %ul.roadmap-step-list.roadmap-step-list-s1
          -#             %li Create partnerships
          -#             %li R & D Tokenomics
