.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container
          .row.mb-5
            .col-12
              .card
                .card-body
                  %h3 Features
                  %table.table.table-striped.table-bordered#features-table
                    - features.each do |blockchain_symbol, blockchain_object|
                      - blockchain_object[:features].each do |feature_key, feature_value|
                        %tr
                          %td
                            - if feature_value[:show_link]
                              = link_to feature_value[:name], "/#{blockchain_symbol}/#{feature_key}", class: 'text-decoration-none'
                            - else
                              = feature_value[:name]
                          %td
                            - if features[blockchain_symbol][:cloudinary_public_id].present?
                              = cl_image_tag(features[blockchain_symbol][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'vertical-align: text-top;', class: 'mr-1')
                            = blockchain_object[:name]
                          %td= feature_value[:status]
  .nk-ovm.shape-q
