.header-banner.bg-theme-grad-s2#secret-network-buttcoin-index
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h3.title.title-thin
                    = cl_image_tag(logo_cloudinary_public_id, crop: :scale, height: 36, dpr: 2, fetch_format: :auto, quality: :auto, class: 'mr-1 d-inline', style: 'height: 36px; vertical-align: middle;')
                    Buttcoin (BUTT)
                  %p.mb-0.tc-light-alt
                    = link_to features[:secret_network][:features][:buttcoin][:contracts][:production], "https://secretnodes.com/secret/chains/secret-4/contracts/#{features[:secret_network][:features][:buttcoin][:contracts][:production]}", target: '_blank', rel: 'noopener'
                  %p.mb-0.tc-light-alt
                    = link_to 'http://scrt.network', target: '_blank', rel: 'noopener' do
                      = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 24, height: 24, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                      = features[:secret_network][:name].to_s
  .nk-ovm.shape-q

%main.nk-pages
  %section.section.section-sm.bg-white
    .container
      .row.justify-content-center
        .col-lg-10
          %p
            %b
              %i Don't trust. Verify.
            %br
            Query these contracts on our Secret network smart contract interface.
            %br
            Check the code in our Github.
            %br
            Reach out via Email/Discord/Telegram/Twitter if you have any questions.
          %ul.nav.tab-nav.tab-nav-line.tab-nav-center
            %li
              %a.active{ 'data-toggle' => 'tab', :href => '#tab-4-1' } About
            %li
              %a{ 'data-toggle' => 'tab', :href => '#tab-4-2' } How to buy
            %li
              %a{ 'data-toggle' => 'tab', :href => '#tab-4-3' } Allocation
          .tab-content
            .tab-pane.show.active#tab-4-1
              %h5 What is it?
              %p Our native token.
              %h5 What's it for?
              %p
                \- as payment to create an
                = link_to 'Address Alias', secret_network_address_alias_path
                %br
                \- as payment to use some of the features of
                = link_to 'Block locker', secret_network_block_locker_path
                %br
                \- to reduce trading fees on
                = link_to 'Button Swap', secret_network_button_swap_path
                %br
                \- as payment to use the
                = link_to 'Password Manager', secret_network_password_manager_path
                %br
                \- to gain full access to our
                = link_to 'Transactions page', secret_network_transactions_path
                %br
                \- to distribute the fees received from the
                = link_to 'Yield Optimizer pools', secret_network_pools_path
              %h5 Tokenomics
              %p 28,000,006 total supply. Initially 100,000,000 was minted but 71,999,994 tokens were burnt. These tokens were burnt because once the Covaids lockdowns went into full swing, we stopped work for a while as we had more pressing matters to tend to. As time went on, understandably, investors requested that we get back to work as soon as possible. As an apology and a thank you to our initial investors, we decided to burn all tokens allocated to the team and a good chunk of the other tokens.
              %table.table.table-bordered
                %tbody
                  %tr
                    %td.table-head Incentives for liquidity providers
                    %td.table-des 21,122,824.8 (1.4 BUTT released per block until block 15,060,000, ~Jul 2024)
                  %tr
                    %td.table-head Round 1 sale
                    %td.table-des 3,000,000 (1 SEFI = 3 BUTT)
                  %tr
                    %td.table-head Round 2 sale
                    %td.table-des 3,877,181.2 (1 SEFI = 1 BUTT)
                  %tr
                    %td.table-head Team
                    %td.table-des 0
                  %tr
                    %td.table-head Burnt
                    %td.table-des 71,999,994
                  %tr
                    %td
                    %td.table-des.font-weight-bold 100,000,000
            .tab-pane#tab-4-2
              %b
                %i These are just a few paths to BUTT. Please message us/community at Discord or Telegram to discuss all options.
              %h5 SCRT -> BUTT
              %table.table.table-striped.table-bordered.mb-4
                %thead
                  %tr
                    %th
                    %th from
                    %th to
                    %th url
                %tbody
                  %tr
                    %td 1
                    %td SCRT
                    %td BUTT
                    %td https://btn.group/secret_network/button_swap
              %h5 Monero (XMR) -> BUTT
              %table.table.table-striped.table-bordered.mb-4
                %thead
                  %tr
                    %th
                    %th from
                    %th to
                    %th url
                %tbody
                  %tr
                    %td 1
                    %td XMR
                    %td sXMR
                    %td https://ipfs.io/ipns/k51qzi5uqu5dhovcugri8aul3itkct8lvnodtnv2y3o1saotkjsa7ao1aq0dqa/
                  %tr
                    %td 2
                    %td sXMR
                    %td BUTT
                    %td https://btn.group/secret_network/button_swap
              %h5 WBTC -> BUTT
              %table.table.table-striped.table-bordered.mb-4
                %thead
                  %tr
                    %th
                    %th from
                    %th to
                    %th url
                %tbody
                  %tr
                    %td 1
                    %td WBTC
                    %td sWBTC
                    %td https://bridge.scrt.network/
                  %tr
                    %td 2
                    %td sWBTC
                    %td BUTT
                    %td https://btn.group/secret_network/button_swap
              %h5 BNB -> BUTT
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th
                    %th from
                    %th to
                    %th url
                %tbody
                  %tr
                    %td 1
                    %td BNB
                    %td sBNB
                    %td https://bridge.scrt.network/
                  %tr
                    %td 2
                    %td sBNB
                    %td BUTT
                    %td https://btn.group/secret_network/button_swap
              %h5 ATOM -> BUTT
              %p Other cryptocurrencies on the IBC this applies to are LUNA, OSMO, UST, DVPN with more to come.
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th
                    %th from
                    %th to
                    %th url
                %tbody
                  %tr
                    %td 1
                    %td ATOM
                    %td sATOM
                    %td https://wrap.scrt.network/
                  %tr
                    %td 2
                    %td sATOM
                    %td BUTT
                    %td https://btn.group/secret_network/button_swap
            .tab-pane#tab-4-3
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Description
                    %th Status
                    %th Amount
                    %th Address
                %tbody
                  %tr
                    %td Buttcoin distributor
                    %td Distributing 1.4 BUTT per block until block 15,060,000, ~Jul 2024
                    %td 21,122,824.8
                    %td secret12f4s3atdafl55juvgtnpqs2n32km5h7q8y42cu
                  %tr
                    %td Sale 1
                    %td Sold out
                    %td 3,000,000
                    %td secret1j6fpcsxp2ts9d8rsh3uj9srvdh0vvg4ewe7tsa
                  %tr
                    %td Sale 2
                    %td Sold out
                    %td 3,877,181.2
                    %td secret16jue55lf0kt7uz00kzg309ljzttjps2uy9zesc
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret17ww52ve6dwldrh6h3ndg4tfdn4dh07tr0wz4qd
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret1nfqcyejd4c5x6q0dfcd75wv9lnpj5xkw4ps87x
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret1xz4nrezu7r8kardfw5f64kngvfzynnax64tdcw
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret14yklgm926482cxalm9ll0gu75ypvjus7xd2pk2
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret1x4r8kcc4kdwaj9h2d4ymqag55waus9u0zhrdxq
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret149tgs0ln4zvcc79vytg9pnslsgcqvh7vflr2e6
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret1ecwp74fuc02ylhe2qk3djufd5k3aa3wz9fxfkp
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 2,000,000
                    %td secret1hj9cy5rw5yvv02ekgz7zp3a9d5gujkezjnkfxc
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 9,000,000
                    %td secret1xj707kcndygjvdxast2srvmt2q67k5s2xqr8k2
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 11,000,000
                    %td secret165s42ps0eg6vwzzr0ha8n5qpcezsdc32nwnn06
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 6,000,000
                    %td secret1pheg8ny8wtyr9fq9ragahhshyu00zkfjtse2hr
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 6,000,000
                    %td secret1q7k7pz7w4ur42ddknegr0fqwqt7v9ty3d8qxaf
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 3,000,000
                    %td secret1y2ggv54k75xu50zlc9m33tlnn37glhp7g5ra4l
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 3,000,000
                    %td secret1whfmcnutxrxsxv99cgava37gu0634n25yymtzw
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1a727h3t2cydqkawg72a0s3cq5q58j26k9mqm6q
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1rlpe32vnqqg97fkdkh2q7zndzrnc4h46v7ndv4
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1fe67mnrc8p3vmuk0zdym3ua54ta4p2cav49nqr
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1wawkp7s27rwgh7flzaqv5xqjpma0s6fu4nf00f
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1ca8gjjz2z75xecp5axgat4r3jemx6dlhepw2kf
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret16ytcgjpzyr0dmsuhxnuxktf3sz4lg896garvak
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1vcpf0ev6pw4gyjya4w29khnn25m62kqnf4d8ft
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret1yp30r8u34c6xf7s72vn7u8mxw6s0jq575wezu2
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 666,666
                    %td secret17shxj8yfvv4pug2hxvlhupez25mm2v2c538ddk
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret18lvp3wzz9v5hca6wpermsukuj89zpzwvvqsg9c
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret12gszl2a2nar70qqj7z0xyvlwymfpcvs2u0d8th
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1qsclat3awyl3e5v02tqvqzlhjq6c8awfgtzfmz
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1q24zdcvmjstc6zvcu7dd7l2lrs760tsj0nv34h
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1zqd86xals504wtdxsqqehlf706qeddlvf79fju
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1uv8r24dv58lmmsk6eg7m3pn6ejc0tz5jqrfs9j
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1qa4kt5es6vysz8ln42wjafkk8vr3vjnzqc9lu8
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1mhvnge37jqx574fnpzf47skacwmnl2sf3pkp9g
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1cknpknewfmg7fg73wqeqe0hpypg56cytqnchpn
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1e7a5yvcdua30qv8fdx22q08dh8psjffl3cazsm
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1cmedfxsvh4ucxqnjt4jecmawe0hwmdwpcuucv7
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 500,000
                    %td secret1xtje07tp5esqs4wtaxe4jxepraewgjtyw9v2pw
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1q3pfas4m9z6k7s64uasgkdefkrdq22usxm4k7x
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1mvway6h0t2v9q0rdhhwvatxs0gm9zcu9rkfnp7
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,337
                    %td secret16mrmkzruk6d5slh2udae6l7k0kdle08xrwlr6l
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1rk63d52l55h8mg3mnf22th7lfzyd7s6k8rzeq6
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1na88akuk073k8d44wxj8408uw3nyzt8m4vd7h4
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1drz4zkyn0jwf5xuw3lrf57fztf9wf3v6zjjlwt
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1jglwxttpkftnzt0uav2wxpcjzjxjqxzckzt46q
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1t9fw44jluhvm4lkf8ndv9e9r08fx5vpsjkpf4p
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1l7ews3cmlwxtvkek7zxu05j8ncqrm4p2gsm9a3
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1ap3f5kcx8y8kqamxqlh95vj0vx56dcc6sy7y4l
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1c9pcm5d0t2cgw6gwdhrz2k7qvgqq3lseyjw2ss
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 333,333
                    %td secret1qsmumfz7hz0n5jf570mnhd3jwnyc0l5nsjeukp
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1jj7easxuqtpq3q2slv5xccxryn6270rvxk0z0l
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret140czkcmp6ce0e88twhm24ugmh84s8hxkpgpw4w
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1ppcvanlr6r6vx4npfe4pqr6kzt3tdguwe8g2ef
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,674
                    %td secret1w0spmpa3lamehd3rr6jzqw6dfr3d6234dungsr
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1xnjjep3c357ynjr3hesvkfht5agpwm85jytmtd
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1zhpvxw397sfxe7aqvt6l8wlz9n59vwvajnw4pz
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1c8m53x00lepmxrj0e3eyr3luhm47rltezvxfu0
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1rcmu2datsv69p45vqsse6cjffmxksww7lm6fhm
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret13r899ps9jtkkc8u5a2axqsv8zh7msh5e8jjtlv
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1fw549cq5dcs6dghjzuwzlu36jampdrhsjx8fp9
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret19plpy5shtmks2vtq3pvpdygwrmtt9xf0t07jt7
                  %tr
                    %td Timelock contract
                    %td Burnt
                    %td 166,666
                    %td secret1mvy2hy0ml4ek87vphmq4de03ujw4qggtwtpkaw
                  %tr
                    %td
                    %td
                    %th 100,000,000
                    %td
