!!!
%html.js{ lang: 'eng' }
  %head
    %title btn.group
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: 'We develop software for blockchain.', name: 'description' }
    -# %link{ href: 'images/favicon.png', rel: 'shortcut icon' }
    = csrf_meta_tags
    = csp_meta_tag

    -# === THEME STYLESHEETS ===
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/vendor.bundle.css?ver=1930', rel: 'stylesheet' }
    %link#changeTheme{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/style-salvia.css?ver=1930', rel: 'stylesheet' }
    %link{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/theme.css?ver=1930', rel: 'stylesheet' }
  %body.nk-body.body-wider.theme-dark.mode-onepage
    .nk-wrap
      %header.nk-header.page-header.is-transparent.is-shrink#header
        / Header @s
        .header-main
          .container
            .header-wrap
              / Logo @s
              .header-logo.logo
                = link_to root_path, class: 'logo-link' do
                  %h3.text-white btn.group
              / Menu Toogle @s
              .header-nav-toggle
                %a.navbar-toggle{ 'data-menu-toggle' => 'header-menu', href: '#' }
                  .toggle-line
                    %span
              / Menu @s
              .header-navbar.header-navbar-s2
                %nav.header-menu.justify-content-between#header-menu
                  %ul.menu
                    %li.menu-item= link_to 'Features', features_path, class: 'menu-link nav-link'
                    %li.menu-item
                      %a.menu-link.nav-link{ href: '#token' } Buttcoin
                    %li.menu-item
                      %a.menu-link.nav-link{ href: '#roadmap' } Roadmap
        = yield
        %footer.nk-footer.bg-theme.ov-h.overlay-x.fw-4
          %section.section.section-m.tc-light.tc-light-alt.bg-transparent.pb-0
            .container
              .nk-block.block-footer
                .row.my-md-0.mb-n4
                  .col-lg-5.col-sm-7
                    .wgs.wgs-menu
                      %h6.wgs-title.wgs-title-s2.text-white FEATURES
                      .wgs-body
                        %ul.wgs-links.wgs-links-uline.wgs-links-s2
                          - features.each do |blockchain_symbol, blockchain_object|
                            - blockchain_object[:features].each do |feature_key, feature_value|
                              %li= link_to feature_value[:name], "/#{blockchain_symbol}/#{feature_key}"
                  .col-lg-4.col-sm-5
                    .wgs.wgs-menu
                      %h6.wgs-title.text-white Company
                      .wgs-body
                        %ul.wgs-links.wgs-links-s3
                          %li= link_to 'Buttcoin', "#{root_url}#token"
                          %li= link_to 'Team', "#{root_url}#team"
                          %li
                            %a{ href: '#' } Roadmap
                  .col-lg-3.col-md
                    .wgs.wgs-subscribe-form
                      %h6.wgs-title.wgs-title-s2.text-white NewsLetter
                      .wgs-body
                        .wgs-subscribe
                          %p Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed
                          %form.nk-form-submit{ action: 'form/subscribe.php', method: 'post', novalidate: 'novalidate' }
                            .field-inline.field-inline-s3.field-split
                              .field-wrap
                                %input.input-bordered.required{ placeholder: 'Enter your email', type: 'text' }
                                %input.d-none{ name: 'form-anti-honeypot', type: 'text', value: '' }
                              .submit-wrap
                                %button.btn.btn-icon.btn-light.btn-auto
                                  %i.fas.fa-paper-plane
                            .form-results
              .footer-bottom.section-sm
                .row.justify-content-between.align-items-center
                  .col-6
                    = link_to root_path, class: 'logo-link wgs-logo-s2' do
                      %h3.text-white btn.group
                  / .col
                  .col-6
                    .copyright-text.text-right
                      %p © btn.group, 2021
    .preloader
      %span.spinner.spinner-round
    / JavaScript
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/jquery.bundle.js?ver=1930' }
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/scripts.js?ver=1930' }
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/charts.js?var=161' }
