!!!
%html.h-100.js{ lang: 'eng' }
  %head
    %title= head_title
    %meta{ charset: 'utf-8' }
    %link{ href: head_link, rel: 'shortcut icon' }
    %meta{ name: 'description', content: head_description }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ name: 'twitter:image', content: head_image }
    %meta{ property: 'og:image', content: head_image }
    %meta{ property: 'og:site_name', content: 'btn.group' }
    = csrf_meta_tags
    = csp_meta_tag

    -# === THEME STYLESHEETS ===
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', defer: true
    %link{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/vendor.bundle.css?ver=1930', rel: 'stylesheet' }
    %link#changeTheme{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/style-salvia.css?ver=1930', rel: 'stylesheet' }

    -# === CLOUDINARY WIDGET ===
    %script{ src: 'https://widget.cloudinary.com/v2.0/global/all.js', type: 'text/javascript' }
    -# === LIST.JS ===
    %script{ src: '//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js', type: 'text/javascript' }
  %body.h-100.nk-body.body-wider.theme-dark.mode-onepage
    .nk-wrap.h-100
      = render 'header'
      = yield
      - if blockchain&.latest_block_time
        = render 'blockchains/stats'
      - if @show_footer
        %footer.nk-footer.bg-theme.ov-h.overlay-x.fw-4
          %section.section.section-m.tc-light.tc-light-alt.bg-transparent
            .container
              .nk-block.block-footer
                .row.justify-content-between
                  .col-lg-8.col-md-7
                    .wgs.wgs-menu
                      %h6.wgs-title.text-white About
                      .wgs-body
                        %ul.wgs-links.wgs-links-s3
                          %li= link_to 'Brand assets', brand_assets_path, class: 'd-inline'
                          %li= link_to 'Roadmap', roadmap_path, class: 'd-inline'
                  .col-lg-4.col-md-5
                    .wgs.wgs-text
                      .wgs-body
                        %h6.wgs-title.text-white Join our community
                        .wgs-subscribe.wgs-subscribe-s2
                          %ul.social.pt-2
                            %li
                              = mail_to 'support@btn.group', class: 'd-inline' do
                                %em.social-icon.far.fa-envelope
                            %li
                              = link_to 'https://www.github.com/btn-group', target: '_blank', rel: 'noopener' do
                                %em.social-icon.fab.fa-github
                            %li
                              = link_to 'https://discord.gg/fxTbthnzFW', target: '_blank', rel: 'noopener' do
                                %em.social-icon.fab.fa-discord
                            %li
                              = link_to 'https://medium.com/@btn.group', target: '_blank', rel: 'noopener' do
                                %em.social-icon.fab.fa-medium
                            %li
                              = link_to 'https://t.me/btn_group', target: '_blank', rel: 'noopener' do
                                %em.social-icon.fab.fa-telegram
                            %li
                              = link_to 'https://twitter.com/BtnGroup', target: '_blank', rel: 'noopener' do
                                %em.social-icon.fab.fa-twitter
                .footer-bottom.pdt-r
                  .copyright-text.copyright-text-s1.text-center.text-sm-left.text-lg-center
                    %p
                      © btn.group, 2021
