!!!
%html.js{ lang: 'eng' }
  %head
    %title btn.group
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: 'We develop software for blockchain.', name: 'description' }
    -# %link{ href: 'images/favicon.png', rel: 'shortcut icon' }
    = csrf_meta_tags
    = csp_meta_tag

    -# === THEME STYLESHEETS ===
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/vendor.bundle.css?ver=1930', rel: 'stylesheet' }
    %link#changeTheme{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/style-salvia.css?ver=1930', rel: 'stylesheet' }
    %link{ href: '/ico-crypto-html-v1.9.3/main-html/assets/css/theme.css?ver=1930', rel: 'stylesheet' }
  %body.nk-body.body-wider.theme-dark.mode-onepage
    .nk-wrap
      %header.nk-header.page-header.is-transparent.is-sticky.is-shrink#header
        / Header @s
        .header-main
          .container
            .header-wrap
              / Logo @s
              .header-logo.logo
                = link_to root_path, class: 'logo-link' do
                  %h3.text-white btn.group
              / Menu Toogle @s
              .header-nav-toggle
                %a.navbar-toggle{ 'data-menu-toggle' => 'header-menu', href: '#' }
                  .toggle-line
                    %span
              / Menu @s
              .header-navbar.header-navbar-s2
                %nav.header-menu.justify-content-between#header-menu
                  %ul.menu
                    %li.menu-item= link_to 'Features', features_path, class: 'menu-link nav-link'
                    %li.menu-item
                      %a.menu-link.nav-link{ href: '#token' } Buttcoin
                    %li.menu-item
                      %a.menu-link.nav-link{ href: '#roadmap' } Roadmap
                    %li.menu-item
                      %a.menu-link.nav-link{ href: '#team' } Team
        = yield
      %footer.nk-footer.bg-theme.ov-h.overlay-x.fw-4
        %section.section.section-m.tc-light.tc-light-alt.bg-transparent
          .container
            / Block @s
            .nk-block.nk-block-footer
              .row.justify-content-between.text-center.text-sm-left
                .col-lg-4.col-md-6.col-sm-5
                  .wgs.wgs-menu
                    %h6.wgs-title.text-white Features
                    .wgs-body
                      %ul.wgs-links.wgs-links-s3
                        - features.each do |key, value|
                          %li= link_to value[:name], "/#{key.to_s.underscore}"
                .col-lg-3.col-md-4.col-sm-3
                  .wgs.wgs-menu
                    %h6.wgs-title.text-white Company
                    .wgs-body
                      %ul.wgs-links.wgs-links-s3
                        %li= link_to 'Buttcoin', "#{root_url}#token"
                        %li= link_to 'Team', "#{root_url}#team"
                        %li
                          %a{ href: '#' } Roadmap
                .col-lg-4.col-md-6.offset-lg-1
                  .wgs.wgs-text
                    .wgs-logo
                      = link_to root_path, class: 'logo-link' do
                        %h3.text-white btn.group
                      %a{ href: './' }
                    .wgs-body
                      .wgs-subscribe.wgs-subscribe-s2
                        %p © 2021
                        %ul.social.pt-2
                          %li
                            %a{ href: '#' }
                              %em.social-icon.fab.fa-twitter
                          %li
                            %a{ href: '#' }
                              %em.social-icon.fab.fa-medium-m
                          %li
                            = link_to 'https://github.com/btn-group', class: 'text-decoration-none', target: '_blank', rel: 'noopener' do
                              %em.social-icon.fab.fa-github
    .preloader
      %span.spinner.spinner-round
    / JavaScript
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/jquery.bundle.js?ver=1930' }
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/scripts.js?ver=1930' }
    %script{ src: '/ico-crypto-html-v1.9.3/main-html/assets/js/charts.js?var=161' }
